[2021-03-09 13:11] tardyp commented on #5875
I agree, that this is a big job. My point/experience is that it will be much easier if we have a stronger state management story. This can be done independently, as this would be a v3/ api.
At $work, due to crisis, I will be on partial unemployment on Fridays, April to august. So I might have some time to help on it.

[2021-03-09 20:40] aj062 commented on #5877
That test seems to be for uploading, maybe you wanted to comment on https://github.com/buildbot/buildbot/issues/5878 instead.

Since there is an explicit try/except block at https://github.com/buildbot/buildbot/blame/master/master/buildbot/steps/transfer.py#L460 with log message saying "File {!r} not available at master", that indicate that the expected behavior is to handle the exception graceful

[2021-03-10 04:56] staticfloat commented on #5876
I used this: https://github.com/JuliaCI/julia-buildbot/blob/5a8e406297667b6bf66d96f2daca41a1bd06c016/master/master.cfg#L168-L184

[2021-03-10 08:20] EndrII commented on #5876
Thanks

[2021-03-10 08:20] #5876 closed

[2021-03-10 18:06] rlabrecque commented on #4327
I wish there were more of this in general. Our buildbot has slowed down quite a bit as our database has climbed into the dozens of GB range.

We ran both scripts above and they worked well. We ran into some issues where we had some types of 'builds' that were not based on any source stamps and those all got cleared. But that's fine.

We also ran the following:

[code]

[2021-03-10 19:13] aj062 opened #5887 "workers page doesn't show data for Owners and Worker columns"
workers page doesn't show data for Owners and Worker columns.

Below screenshot for http://buildbot.buildbot.net/#/workers/5 shows empty Owners and Worker columns.

<img width="1436" alt="workers_page_empty_columns" src="https://user-images.githubusercontent.com/3098702/110684042-a9e96200-81aa-11eb-8253-e7af0aa572d2.png">

[2021-03-10 19:16] aj062 opened #5888 "changes page doesn't show data for Owners and Worker columns"
changes page doesn't show data for Owners and Worker columns.

Below screenshot for http://buildbot.buildbot.net/#/changes/9005 shows empty Owners and Worker columns.

<img width="1169" alt="changes_page_empty_columns" src="https://user-images.githubusercontent.com/3098702/110684426-267c4080-81ab-11eb-851b-a27be46b1ff2.png">

[2021-03-11 01:16] sphet opened #5889 "Support viewspec in Perforce Streams"
First of all, thank you @bschatt for implementing the Perforce streams code. We are just trying it out finally, and have discovered that it does not work in coordination of a viewspec. We have, in the past, limited the amount of content that we sync on some of the machines using view specs. Moving to streams this is no longer supported.

I'm not sure if @bschatt  is still around, but if you are ca

[2021-03-11 01:28] sphet commented on #5889
I realize now that we need a new stream-spec and that will solve our problem. Please close.

[2021-03-11 01:28] #5889 closed

[2021-03-11 01:44] aliceinwire opened #5890 "failed with exit code 128: error: could not lock config file /var/lib/buildbot/gitpoller-work/config: File exists"
[code]

[2021-03-12 13:08] p12tic commented on #5890
Could it be that multiple gitpollers share the same directory?

[2021-03-12 15:11] lfdmn opened #5892 "Unknown component name: BuildStatusGenerator"
Hi,

I'm trying to create a status generator using the example code

[code]

I get this error
[code]

I'm having difficulties tracking this one down.

[2021-03-12 17:53] aliceinwire commented on #5890
@p12tic  the code is here https://github.com/GKernelCI/GBuildbot/blob/master/sources.py

[2021-03-12 17:57] p12tic commented on #5890
@aliceinwire Right, so if multiple gitpollers are used, you need to set the `workdir` to different paths otherwise multiple gitpollers will use the same directory which leads to the error you're seeing.

It's still a bug in Buildbot, we should do this by default.

[2021-03-12 20:32] p12tic commented on #5892
@lfdmn Thanks for the bug report, this will be fixed in #5895. I believe you can still use `BuildStatusGenerator` as `from buildbot.reporters.generators.build import BuildStatusGenerator`.

[2021-03-12 22:18] #5892 closed

[2021-03-13 20:23] p12tic opened #5902 "sqlalchemy.exc.ResourceClosedError from Builder.getOldestRequestTime()"
Got this exception on custom build based on 2.10.1. This should not happen, but I'm not sure what may cause it. Logs follow:

[code]

[2021-03-13 22:32] mixicz opened #5903 "flawed HashiCorpVaultSecretProvider implementation"
After unsuccessfuly trying to get vault working with buildbot I realized, that current naive implementation has several major flaws preventing it to be usable in real world scenarios. To give more context, we are using hashicorp vault in production at my work for about 5 years now, having several thousand secrets stored in generic kv store. We use typically 5 level deep paths allowing us for fine

[2021-03-14 06:57] ynezz commented on #5832
FYI we've switched to 3.0.0 yesterday and seeing probably similar issue, where workers get stuck in the worker_preparation step for several hours https://buildbot.openwrt.org/master/images/#/builders/53/builds/2 and https://buildbot.openwrt.org/master/images/#/builders/47/builds/2 and even explicit `Stop` of the build doesn't work - this is noop, nothing happens.

![image](https://user-images.gith

[2021-03-14 10:22] p12tic commented on #5903
@mixicz Thanks for filing this bug report. I agree on all of your points.

Regarding (2), escaping sounds good, `Interpolate` should handle the subsequent colons and just pass it as part of string for the secret to interpret.

Regarding (4), let's just remove implicit `value` key support altogether.

Since the code of the current `HashiCorpVaultSecretProvider` is rather simple, would it be possibl

[2021-03-14 10:29] p12tic commented on #5832
@ynezz Would it be possible for me to get access to the master logs when this happens?

[2021-03-14 13:06] mixicz commented on #5903
While I think it is generally good practice to do such changes in backwards compatible way as you suggest, I have moral problem forcing users to specify extra parameter to switch from broken to correct behavior.

Use `path_key_sep` parameter is good idea, but I would rather set default it to new `path_key_sep=':'`. Instead I'd evaluate if path contains unescaped separator, and if not, use *last* s

[2021-03-15 10:13] ynezz commented on #5832
Sure, can you provide some grep command?

[2021-03-15 10:17] ynezz commented on #5832
[code]

[2021-03-15 10:22] ynezz commented on #3608
FYI it's still polluting logs in 3.0.0.

[2021-03-15 10:26] tardyp commented on #3608
@ynezz what is the occurence rate? For me any large occurence rate which would qualify for "pollution" would be a symptom of a configuration issue.

I think we can accept a patch for a single line warning though

[2021-03-15 12:04] aj062 opened #5906 "Message queue doesn't provide correct message for step finished"
Message queue doesn't provide correct message for step finished in Buildbot 2.10.1. It used to work in Buildbot 1.8.2.

Below is a code snippet which used to properly print step state_string in Buildbot 1.8.2 and earlier. In Buildbot 2.10.1 (and also in 2.10.2), it returns messages like: "pending", "shell" etc.. For some steps, it prints step "description" instead of "descriptionDone". It seems li

[2021-03-15 22:06] daltenty opened #5910 "AttributeError: module 'sqlalchemy.engine.strategies' has no attribute 'PlainEngineStrategy'"
On buildbot version 3.0.1, since upgrading SQLAlchemy to version 1.4, `buildbot create-master` now throws an error:

[code]

Restricting the sqlalchemy version to 1.3.23 seems to resolve this issue.

Seems related to the removal of this interface in SQLAlchemy 1.4: https://github.com/sqlalchemy/sqlalchemy/commit/dfb20f07d8796ec27732df84c40b4ce4857fd83b

[2021-03-15 22:25] p12tic commented on #5832
Thanks I think this is enough for now.

[2021-03-15 22:38] ynezz opened #5911 "AttributeError: module 'sqlalchemy.engine.strategies' has no attribute 'PlainEngineStrategy'"
`sqlalchemy>=1.2.0` dependency allows installing of latest 1.4.0 which results in the following exception:

[code]

[2021-03-15 22:43] p12tic commented on #5903
@mixicz The problem I want to avoid is to break users' configurations in a way that's difficult to understand. At least when they are explicitly fixing a deprecation warning they'll are more likely to notice issues with their secret paths. When one is upgrading from Buildbot 2.2.0 to 2.10.1 backwards incompatible changes just lead to non-working configuration and it's hard to know what exactly is

[2021-03-16 08:43] ynezz commented on #5911
Duplicate of #5910

[2021-03-16 08:43] #5911 closed

[2021-03-16 11:44] p12tic commented on #5870
Looks like the question is answered, isn't it? Please reopen the issue if there are any followup questions.

[2021-03-16 11:44] #5870 closed

[2021-03-16 13:07] #5910 closed

[2021-03-17 06:00] rlabrecque commented on #2857
This still seems to be an issue :(

https://github.com/buildbot/buildbot/search?q=keepalive_interval

Only 3 uses of this and all are setting values, never using it.

Our worker logs look like this:

[code]

[code]

Our temporary fix:

[code]

Looks like there's 3 pieces missing:

1. AbstractWorker never saves keepalive_interval. https://github.com/buildbot/buildbot/blob/5727d0e31786c8ade187b16c70

[2021-03-17 14:57] ynezz commented on #5193
This part of documentation is probably out of sync for some time and not working as expected. There are probably some issues with `BuildRequestDistributor` as described in #4592

I think, that this is misleading, because:

 * `getNewestCompleteTime()` relies on `complete_at` which gets updated with current timestamp when the new collapsed buildset is created and all current unclaimed build request

[2021-03-17 15:11] ynezz commented on #4592
We're experiencing sometimes similar issues on https://buildbot.openwrt.org with our 70 builders running Buildbot 3.0.1, here is recent one:

[code]

Relevant code snippets bellow, [complete master](https://git.openwrt.org/?p=buildbot.git;a=blob;f=phase1/master.cfg;h=53d1812fd081362fc1bb142a1446d4823c6792ed;hb=refs/heads/master)

[code]

[2021-03-18 00:03] #3425 closed

[2021-03-18 11:57] vx-i commented on #5788
Thanks @sphet.

[2021-03-18 11:57] #5788 closed

[2021-03-18 20:41] p12tic commented on #3217
I believe this has been fixed in #5798. The parent of the service was being cleared before the service itself was shut down so master instance was no longer accessible and any actions that depend on the master would fail during that time period.

[2021-03-18 20:41] #3217 closed

[2021-03-18 20:44] p12tic commented on #4030
I believe this issue has been fixed in #5795 and released as part of 2.10.2 and 3.0.0.

[2021-03-18 20:44] #4030 closed

[2021-03-18 21:00] p12tic commented on #4799
This issue has been fixed in #5029. and released in v2.5.0.

[2021-03-18 21:00] #4799 closed

[2021-03-18 21:03] p12tic commented on #4673
I believe this bug has been fixed in two separate bug fixes: #5795 and #5798 which have been released as 2.10.2 and 3.0.0. Thus I'm closing the issue. Please reopen if the bug is still exists. Thanks a lot!

[2021-03-18 21:03] #4673 closed

[2021-03-18 21:06] p12tic commented on #5464
Thanks a lot for the bug report, I roughly see where the problem lies.

[2021-03-18 21:39] p12tic commented on #5868
@sphet Steps are reinstantiated completely and old versions in the Builder configuration are replaced by them. The builders on the other hand only change their internals, the instance stays the same (see `Builder.reconfigServiceWithBuildbotConfig()`). Pollers and status reporters are essentially handled the same way by the `BuildbotServiceManager` class and thus they also keep their instances and

[2021-03-19 00:04] sphet commented on #5868
I'll look at the reconfig option again. Our master.cfg is very involved with the import of custom steps, so I have been weary over the years given that reconfig has not always worked *quite right*. We are behind a fair bit on versions so I will try to get us to the head and try again.

[2021-03-19 00:04] #5868 closed

[2021-03-19 05:38] grooverdan commented on #5555
If buildbot uses https://github.com/docker/docker-py for a docker client, and podman advertised a docker compatible API - http://docs.podman.io/en/latest/_static/api.html , does that mean the feature is already there?

[2021-03-19 07:40] tardyp commented on #5868
Back when I was maintaining a very large buildbot, we had the same issue with lots of custom steps.
I advice to not try and reload modules in the reconfig we tried for months to get this right but this leaves too much of the old config in memory and becames very instable so we had to retart anyway.

Rather, you should have your 'reconfigable' configuration described in yaml, .toml, .json, whatever

[2021-03-19 11:50] PhilippSelenium opened #5930 "[Feature] Build summary tooltip improvements"
The build summary tooltip box jumps like crazy (To a degree where it almost causes seizures ;)) when hovering over the build numbers.

Solutions:
* Possibility to disable build summary tooltip
* rendered more relaxed and smoothly
* ?

See: https://github.com/buildbot/buildbot/pull/5700

[2021-03-19 13:41] FilBot3 commented on #5555
You are correct.

* https://podman.io/blogs/2020/06/29/podman-v2-announce.html#restful-api
* https://github.com/containers/podman/blob/master/docs/tutorials/remote_client.md#creating-the-first-connection
* https://developers.redhat.com/blog/2019/02/21/podman-and-buildah-for-docker-users/

I wasn't aware of this capability, or it wasn't there when originally asked for. Seems I need to enable the po

[2021-03-19 18:40] slim-builder commented on #5930
@p12tic @PhilippSelenium
I believe that the tooltip "jumps" because of a performance issue when loading the build summary steps.  The tooltip will display the build summary header first, then later on add the displayed build steps, which causes the tooltip size to increase abruptly.  The abrupt change in the tooltip size causes the "jumps".  I'm not sure how to fix this issue, but as a workaround

[2021-03-19 20:58] p12tic commented on #5852
@aj062 I did not find problems with the try scheduler code that may cause this issue. Could it be that `buildset_properties` or `change_properties` tables somehow contain None values of `owner` property? Note that the value column contains json-encoded value, so querying the database is not simple.

[2021-03-19 20:59] mixicz commented on #5903
@p12tic I do understand your concern and while I think it's unlikely anyone has such configuration, there is no way to be sure.

I'm still not inclined to force users specifying extra parameter though. What if I create new class instead (`HashiCorpVaultHvacSecretProvider` or `HvacSecretProvider`) and old class would show deprecation message to migrate to new class? Old configuration would remain b

[2021-03-19 21:24] aj062 opened #5933 "buildbot try fails for files containing non utf-8 characters"
buildbot try fails for files containing non utf-8 characters, i.e. different encoding.

e.g.:
[code]

[2021-03-19 21:27] aj062 commented on #5933
At https://github.com/buildbot/buildbot/blob/master/master/buildbot/clients/tryclient.py#L581, patch file is being read as string, instead it should be opened in "rb" mode, so as to read the file as bytes.

However, that alone doesn't completely fix the problem, and the code fails at subsequent step with the error: `(unable to obtain traceback): 'bytes' object has no attribute '__module__'`

[2021-03-19 21:28] aj062 commented on #5933
@tardyp @p12tic
A similar issue was fixed in https://github.com/buildbot/buildbot/pull/5827/files

[2021-03-19 21:37] tardyp commented on #5930
I think if we force the minimum width to be a bit larger, we can avoid those artifacts.

I think the current tooltip is looking great when everything is finally loaded, so I would prefer we manage to make it work.

I believe some css tweak should fix the issue

[2021-03-19 22:49] p12tic commented on #5903
@mixicz I agree that having a different class would address my concerns. It would be easier for you to implement it this way too.

[2021-03-20 01:20] sphet commented on #5268
Here is an update in case people are curious.

Microsoft Teams brokers all communication between team members and a bot through the main  Microsoft/Azure servers. The Microsoft BotBuilder SDK (for python) uses asiohttp as the async http engine. Microsoft bots can be self hosted, or hosted in the Azure platform. Their SDK is quite feature full, and there are some complications to getting it up and

[2021-03-20 01:20] #5268 closed

[2021-03-20 01:21] sphet commented on #5868
@tardyp  can you explain more this 'reconfigurable' configuration in yaml (or whatever) and explain how this is reloaded for worker assignment? We already use virtual_builders a lot overtop of generic "test atoms" but the builder assignment is the downside.

[2021-03-20 10:38] mixicz commented on #5903
@p12tic OK, I'll create new class named `HashiCorpVaultHvacSecretProvider`. I can't promise any specific timeline as this is part of my free time hobby project, but I expect 2-3 weeks to have PR tested and ready.

[2021-03-20 17:30] sphet opened #5934 "Support Microsoft Teams action messageBack or user-defined actions?"
Wrong github

[2021-03-20 17:31] sphet commented on #5934
Please delete

[2021-03-20 17:31] #5934 closed

[2021-03-22 19:26] aj062 opened #5940 "Regression: Owners column empty for pending build-requests"
Owners column is empty for pending build-requests in Buildbot 2.10.2. This used to work properly in Buildbot 1.8.2

This issue can also be noticed at https://buildbot.buildbot.net/#/builders/3
<img width="607" alt="empty_owners_column_pending_buildrequests" src="https://user-images.githubusercontent.com/3098702/112046835-e6aa4700-8b22-11eb-83d1-b848a16b6e04.png">

[2021-03-22 20:11] tardyp commented on #5940
this is due to owners property not being present in the buildrequest (anymore?)

[2021-03-22 20:19] tardyp commented on #5940
I don't see any diff since 1.8.2 that would remove this property in buildrequests
There is an old issue about it, but I am not even sure this was properly verified to be fixed
https://github.com/buildbot/buildbot/issues/4207

pending buildrequest is quite rare. actually in metabuildbot, this was a bug in our master.cfg that prevented builds to start.

[2021-03-22 20:32] aj062 commented on #5940
This was working fine in v2.1.0, but stopped working in v2.2.0

Seems to be a regression due to https://github.com/buildbot/buildbot/commit/ee1f853360b1016f3ed28489b179f7af2e2986c2

[2021-03-22 20:37] aj062 commented on #5940
Verified that reverting https://github.com/buildbot/buildbot/commit/ee1f853360b1016f3ed28489b179f7af2e2986c2 and recompiling buildbot-www package fixes this issue.

[2021-03-22 22:08] #5940 closed

[2021-03-23 14:35] aj062 commented on #5906
This was working fine in Buildbot v2.8.4, but stopped working in v2.9.0

cc @tardyp

[2021-03-23 16:50] aj062 commented on #5906
This is a regression from https://github.com/buildbot/buildbot/commit/e2fb0fb3514b99c7e42137a6b97eb6b876a6a97a

Verified that this feature was working fine until this commit.

[2021-03-23 18:28] #5887 closed

[2021-03-23 18:30] #4016 closed

[2021-03-23 21:55] muks opened #5943 "MailNotifier fails to send email"
I have a `MailNotifier` configured like this:

[code]
Notification mails are not sent. The following messages are logged in `twistd.log`:

[code]

This used to work before, so it appears something has changed in the software versions. `pyOpenSSL` is available in the venv.

[code]
The server does support STARTTLS on port 587. We all use it with various email clients for email submission. As an exam

[2021-03-23 22:05] muks commented on #5943
Sample session with `openssl s_client` to prove that STARTTLS is available on port 587:

[code]

[2021-03-25 01:03] aj062 commented on #5906
Verified that reverting https://github.com/buildbot/buildbot/commit/e2fb0fb3514b99c7e42137a6b97eb6b876a6a97a fixes this issue.

[2021-03-25 12:19] lfdmn opened #5946 "FileUpload umask issues"
Hi,

I'm trying to set the umask for buildbot master.

[code]

I have buildbot master running in Docker container and nginx into another. They are on the same host and share the nginx html folder via folder mapping.

I added a group with same id on host, buildbot master and nginx, as well as set the sticky permission bit.

At the end of my builder I have a `Fileupload` step uploading the build art

[2021-03-25 14:10] aj062 opened #5948 "worker version is shown incorrectly in the UI"
worker version is shown incorrectly in the UI, e.g.: on workers page, or individual worker pages.
e.g.:
http://buildbot.buildbot.net/#/workers
http://buildbot.buildbot.net/#/workers/5
<img width="1187" alt="worker_version_incorrect" src="https://user-images.githubusercontent.com/3098702/112486433-3de22e80-8d52-11eb-83c4-3046a9e42c58.png">

[2021-03-25 14:45] aj062 commented on #5948
Seems like this was working fine in buildbot-worker v1.5.0, but stopped working in v1.6.0

[2021-03-25 17:30] #5888 closed

[2021-03-25 20:13] levitte opened #5949 "Unmodified builder name used in ssh path"
Buildbot version: 2.6.0

I recently discovered that while a Unix worker will work very well with builder names having almost all sorts of characters, such as `:`, a Windows worker has issues.

The documentation for builder builddirs does specify that ["this parameter defaults to the builder name, with some characters escaped"](http://docs.buildbot.net/latest/manual/configuration/builders.html) (in

[2021-03-25 20:35] tardyp commented on #5949
Good finding! I think you are only a few steps away to fixing this issue..

Would you like to submit a patch?

[2021-03-25 21:38] levitte commented on #5949
I can give it a shot, given my weak python-fu (I'm pretty much a beginning learner)

[2021-03-25 21:51] levitte commented on #5949
Wait, hold on....   naaaaahhhhh, can't be *that* simple, can it?
Well, ok, if that was it, PR comming up!

[2021-03-25 22:40] levitte commented on #5949
Looks like I got it, see #5960.

[2021-03-27 12:53] muks commented on #5943
Briefly reading through the `twisted/src/twisted/mail/smtp.py` code, the output logged (after `EHLO`) in the report above by `SMTPClient.lineReceived()` appears incomplete compared to what the server returns. The output logged above is:

[code]

whereas the SMTP server on port 587 returns the following messages after `EHLO` is sent by the client:

[code]

It appears the first few lines that includ

[2021-03-28 22:50] p12tic commented on #5948
@tardyp Do you remember if this was an intentional change? I always assumed that Buildbot switched to date-based version for the worker and didn't investigate :))

[2021-03-29 15:32] #5949 closed

[2021-03-29 16:41] tonyhutter opened #5957 "lazylogfiles broken on 3.0.2"
I'm upgrading from 0.8.x to 3.0.2, and have this:
[code]
Which gives me:
[code]
According to the 3.0.2 documentation, `lazylogfiles` is a valid parameter for `ShellCommand`
http://docs.buildbot.net/3.0.2/manual/configuration/steps/shell_command.html

I originally opened a question for this (https://github.com/buildbot/buildbot/discussions/5954) but was told to open a bug instead.

[2021-03-30 14:03] pmisik commented on #5948
This looks like duplicate of #4464
The problem is missing VERSION file in whl package.

[2021-03-31 01:01] terencehonles commented on #5875
Does it not make sense to try to move to Angular? Angular supports wrapping AngularJS while migrating and that might make things easier. It really depends where you want the final destination to be.

One thing that I noticed when working on www is that it uses jade as a templating language and I believe I saw you can drop in your own templates. Is that something that still needs to be supported?

[2021-03-31 01:03] terencehonles commented on #5875
If you're not familiar with the upgrade story for Angular it's here https://angular.io/guide/upgrade and I'm referring specifically to https://angular.io/guide/upgrade#upgrading-with-ngupgrade

[2021-04-01 00:20] p12tic commented on #5875
The primary reason to use React is that it's most popular framework ([Google trends](https://trends.google.com/trends/explore?date=all&geo=US&q=%2Fg%2F11c6w0ddw9,%2Fm%2F0j45p7w,%2Fm%2F012l1vxv,%2Fg%2F11c0vmgx5d)) so it reduces the barrier for new contributors on average. All technical merits are a secondary priority as we have not been hitting any bottlenecks on the www frontend so far.

I think a

[2021-04-01 01:10] terencehonles commented on #5875
Well they are both pretty popular from that graph and if you narrow it to just a year it looks like React has dropped more than Angular so they are closer together.

![Screenshot from 2021-03-31 18-09-30](https://user-images.githubusercontent.com/438813/113229654-42c04a00-924c-11eb-9092-8ccb711db9d6.png)

I'm mainly suggesting it because I assume this will take some time to rewrite and Angular has

[2021-04-01 21:27] steven-johnson commented on #5745
We've been seeing this lately as well, pretty much exclusively on our Windows workers -- apparently some of their network connections are flaky and they end up cancelling themselves, but the master thinks they are still running. (Clicking "Stop" in the web ui just provides an endless "Stopping..." that never actually stops.) Stopping and restarting the master fixes these, but obviously that's not

[2021-04-01 22:47] steven-johnson commented on #5745
As an example, here's the tail of twisted.log from a windows worker that just had this happen (i.e.: the worker's network flaked for a minute; the web UI for the worker shows the status as "Canceled" but the Workers status page still shows the job as throbbing-yellow-capsule, and the "Stop" button doesn't do anything):

[code]

[2021-04-04 16:35] p12tic commented on #5957
@tonyhutter FYI the only thing what was broken was an argument allowlist. See https://github.com/buildbot/buildbot/pull/5970/commits/78fae50f54e6ed14d34bed364f0e940637fd60dd.

[2021-04-04 22:46] #5957 closed

[2021-04-05 13:05] p12tic commented on #5906
This is now fixed and released as 2.10.5, 3.0.3 and 3.1.0.

[2021-04-05 13:05] #5906 closed

[2021-04-06 07:40] EndrII commented on #5146
I checked many options and came to the conclusion that AnyControlEndpointMatcher ForceBuildEndpointMatcher StopBuildEndpointMatcher RebuildBuildEndpointMatcher is not working.
working only AnyEndpointMatcher.

now I will post the authorization files from different commits and sign which option worked and which one did not.

this is [works](https://github.com/QuasarApp/QuasarAppCI/blob/master/Build

[2021-04-06 16:38] tonyhutter commented on #5957
Thank you! :smile: :+1:

[2021-04-06 18:12] jpflori commented on #4504
Is there any help needed on that one?

[2021-04-06 18:21] tardyp commented on #4504
Any help is appreciated...
We can restore this feature of this is needed for you.
Buildbot could drop the lines of a threshold is crossed

Le mar. 6 avr. 2021 à 20:13, Jean-Pierre Flori ***@***.***> a
écrit :

[2021-04-07 17:38] pocek commented on #5877
I think this got fixed by #5959.

[2021-04-09 15:05] p12tic commented on #5877
Indeed, this bug can be closed.

[2021-04-09 15:05] #5877 closed

[2021-04-09 15:16] p12tic commented on #5948
Fixed in #5977, will be released as v3.1.1.

[2021-04-09 15:16] #5948 closed

[2021-04-09 15:16] p12tic commented on #4464
Fixed in #5977, will be released as v3.1.1.

[2021-04-09 15:16] #4464 closed

[2021-04-10 11:44] nlamprian opened #5979 "builtins.AttributeError: 'NoneType' object has no attribute 'writeHeaders'"
I have a step that adds multiple other steps when it runs. Occasionally, I get exceptions

[code]

The problem is reproducible with

[code]

I'm using Buildbot 2.10.1.

Could you shed some light on this?

[2021-04-12 09:20] p12tic opened #5981 "Going to invalid builder URL in the web frontent throws errors in the backend logs"
Going to e.g. `https://my-buildbot-host/#/builders/1234%20%20` (note the extra spaces) will throw an exception to the logs:

[code]

We should not throw errors in such cases as that's an easy way to spam logs in the master. These should be caught, ignored and only enabled in a debug mode.

[2021-04-14 11:04] yan12125 commented on #5910
Hi, is there a plan to make buildbot compatible with sqlalchemy 1.4? I'm maintaining the [buildbot](https://archlinux.org/packages/community/any/buildbot/) package at Arch Linux, and there are discussions about upgrading sqlalchemy to 1.4.

[2021-04-14 16:12] jholloway7 opened #5982 "Fatal Python error: Cannot recover from stack overflow in Twisted exception handling"
- Buildbot: 3.1.0
- Python: 3.6

This is a fresh installation of Buildbot on a brand new project, so not sure if this is a regression or just me breaking things in a new way.

I'm triggering a Builder via a ForceScheduler that has a BuildStep which executes a ShellCommand on a LocalWorker. The step fails and somehow crashes Buildbot with it.  I'm still troubleshooting the root cause of that, but I

[2021-04-15 20:41] rlabrecque opened #5983 "start_buildbot.sh requires master.cfg to exist even if it's overridden in buildbot.tac"
https://github.com/buildbot/buildbot/blob/master/master/docker/start_buildbot.sh

We have switched to master.py instead of master.cfg, and have overriden it in our buildbot.tac using `configfile = 'master.py'`. This works fantastic, except with the docker containers' start_buildbot.sh.

It might be worth checking/copying buildbot.tac first, then validating buildbot.tac and using `configfile` befor

[2021-04-19 12:08] senyai commented on #5698
Got the same error in 3.1.0. @p12tic are you sure that `_got_exceptions` https://github.com/buildbot/buildbot/blob/571a54916ff186afa345d501a5ab9e66b2ffb439/master/buildbot/util/subscription.py#L63 should become `None`, and not `[]`?

[2021-04-19 21:56] jsonar-cpapke opened #5987 "Lock on step not waiting until the lock is free"
While I was doing some testing around locks, I noticed a situation where the lock seems to release early. I have put what I believe is a minimal `master.cfg` below that reproduces the problem for me.

The issue I found can be replicated by triggering the builder 3 times. The one triggered first will run and the other two will wait for the lock. But if one of the other two builds is cancelled while

[2021-04-20 03:56] terencehonles commented on #4780
@p12tic typing hasn't been provisional since 3.7 and while I understand 3.6 is still supported typing isn't going to change drastically. Should we / can we reopen this issue?

[2021-04-20 08:04] tardyp commented on #4780
in my experience with vscode, typed based intellisense has been working quite well and has been useful.

I would be in favor of adding simple type hints when there is no polymorphism.

When there is, i.e. a function is accepting several types for one argument, then I would refrain from using it.

That would make union typing necessary and I find that those adds a lot of weight in the code, for qui

[2021-04-20 10:23] BishopGIS opened #5988 "build_wait_timeout option in Latent worker not working as expected"
Buildbot version 3.1.0 both master and latent worker (worker.LibVirtWorker).

After upgrade from 2.4 to 3.1 the builds using latent worker begin to stop in about 10 minutes.
It seems to me that build_wait_timeout now starts timer not after the build task finished but from the moment from start of latent worker.
Changing build_wait_timeout to several hours fix the problem (quick fix).

Also in docu

[2021-04-20 17:15] terencehonles commented on #4780
I agree, the more dynamic the more cumbersome and harder it is to type things in a brief manner, but sometimes the extra line weight does make it easier to understand what the method in question expects. I would suggest avoid creating aliases to Any or untyped generics i.e. https://github.com/graphql-python/graphql-core/blob/03c2b06e4636ed8a89c7a4c7e56d244fd9d00bde/src/graphql/type/definition.py#L

[2021-04-20 23:35] pablogsal opened #5991 "ws_ping_interval is not added in the set of allowed keys for ww"
Checking the configuration after adding this parameter throws:

[code]

The parameter should be updated in https://github.com/buildbot/buildbot/blob/c1c4812cc67265798dd597b06f113943dc154112/master/buildbot/config.py#L717

[2021-04-21 09:30] vstinner commented on #4078
See the issue #5991: "ws_ping_interval is not added in the set of allowed keys for ww".

[2021-04-21 09:31] vstinner commented on #5991
ws_ping_interval parameter was added to Buildbot 3.0.0 ( 2021-03-08 ) in the issue #4078.

[2021-04-21 09:32] vstinner commented on #5991
The buildbot server of the Python project has timeout issues: https://bugs.python.org/issue41701 Using ws_ping_interval is an attempt to workaround this issue.

[2021-04-22 00:03] ncondatore commented on #3762
This issue still seems to be lingering. We hit it and resolved slightly differently by just adjusting the build kick off times to 1 min apart like so:

for i, buildconfig in enumerate(BUILD_CONFIG_LIST):
        schedulers.NightlyTriggerable(name=f"Nightly-{buildconfig}",
            builderNames=["Buildset"],
            hour=8, minute=i,
            properties={"config": f"{buildconfig}",})

Jus

[2021-04-22 20:12] GretaCB commented on #4015
Also seeing workers connected to an old master that no longer exists. Is there a way to stop the worker from connecting to the non-existent master? Not sure if the potential Janitor step has been implemented or if there is a way to do this manually.

[2021-04-23 21:26] anthraxx opened #5992 "compatibility with sqlalchemy 1.4"
Hi,

It would be great if buildbot gets compatibility with 1.4. In PR #5912 the constraints has simply been set to <1.4 but this is unfortunately not a solution for distro packaging of buildbot.

Is there an estimated timeline for compatibility with 1.4 as this issue is blocking distro efforts?

[2021-04-24 15:21] yan12125 commented on #5992
I attempted to create a patch for sqlalchemy 1.4 compatibility but gave up at a very early stage. Needed changes seem non-trivial.

The 'buildbot' strategy is passed to sqlalchemy's `create_engine()` [1], and
the latter no longer accepts a strategy other than 'mock' in version 1.4 [2][3]. The commit message for a related change [4] may shed some light:

[1] https://github.com/buildbot/buildbot/blo

[2021-04-24 20:27] p12tic commented on #5979
Just looking into the stack trace this seems like it could be caused by a WWW client disconnection while a json response to some request is rendered. Could that be the case here?

[2021-04-24 20:32] p12tic commented on #5987
The steps are cloned when the build starts, so it shouldn't be that a step of one build could release a lock owned by a step of another build as these steps are different instances. Though maybe there are surprises in this part of the code.

Thanks for investigation and clear reproduction steps.

[2021-04-24 20:44] p12tic commented on #5992
Currently there is no timeline but we will do this ASAP as time allows.

[2021-04-24 21:51] p12tic commented on #5438
Does no longer happen as of autobahn 20.12.3 (upgraded in #5989).

[2021-04-24 21:51] #5438 closed

[2021-04-24 22:03] p12tic commented on #3802
We no longer use gulp-based build system anymore.

[2021-04-24 22:03] #3802 closed

[2021-04-24 22:06] p12tic commented on #3754
We no longer use `gulp dev proxy`, there's a separate devproxy script which should not have issues like this. So I guess I can close the issue.

[2021-04-24 22:06] #3754 closed

[2021-04-25 09:31] #5991 closed

[2021-04-25 12:27] nlamprian commented on #5979
Not sure how to interpret your comment. I haven't set up anything out of the ordinary.

I just happened to get another instance of the exception with a similar stacktrace (saw it only once so far). I forced a build from the website, ran the first step, and then this

[code]

So it's probably not connected to any particular step as suggested before. This time everything was on localhost.

[2021-04-26 13:02] pablogsal commented on #5991
@p12tic Would it be possible to make a bugfix release or similar so we can leverage the fix in the CPython buildbot server?

[2021-04-27 10:40] p12tic commented on #5991
@pablogsal Yes, there will a bugfix release, maybe today.

[2021-04-28 11:10] p12tic commented on #5991
@pablogsal 3.1.1 has been just released.

[2021-04-28 11:14] p12tic commented on #5555
Sounds good, please reopen the issue if you find that Podman does not work and there's something simple missing in Buildbot to make it compotible with Podman docker compatibility layer.

[2021-04-28 11:14] #5555 closed

[2021-04-28 11:16] p12tic commented on #5390
Fixed in https://github.com/buildbot/buildbot-website/commit/a353180aa3d9f46b4ed358ae34aca4ae3615c467.

[2021-04-28 11:16] #5390 closed

[2021-04-28 11:31] aj062 commented on #5933
This is a serious regression from older buildbot versions. I believe this was working fine with Python 2 in buildbot 1.8.2

[2021-04-28 11:56] pablogsal commented on #5991
Fantastic, thanks a lot! ❤️

[2021-04-28 19:31] aj062 opened #6002 "Buildbot sometimes shows a bot offline while processing builds on that bot"
Buildbot sometimes shows a bot offline while still processing builds on that bot.

I suspect this happened after build on this bot failed with "exception" and the bot was put in quarantine by buildbot (logs showing: "bot-name has been put in quarantine for 10s")

[2021-04-29 19:58] sphet opened #6003 "CustomAuth logout, followed by login, does not request user and password"
We are trying to use CustomAuth to validate against our corporate password. We are not using reverse proxy web server. I have hooked up CustomAuth, and can login, but when I press "Logout", and get back an anonymous user, subsequent "Login" will simply log me in with the same user and password. There appears to be no way to logout and login as a DIFFERENT user. Is there something I need to do in m

[2021-05-01 09:11] EndrII commented on #5146
@tardyp @rvanlaar any ideas how to make all builds logs visible for all but not add access to control of builds.

[2021-05-02 13:32] dol-sen commented on #3363
we are experiencing this "unknown revision" issue in console-view intermittently in our new gemtoo-ci bot.  I just now figured out a trigger for it.   With the page left open, history goes back a long way, was no issue with the long queue of incomplete jobs. When I did a page refresh, the console view history did not go back far enough to include those incomplete jobs.  So the same few jobs that j

[2021-05-02 15:24] dol-sen commented on #3363
changing the console-view settings to 1000 buildlimit and 150 chagelimit fixed the display bug for us so far.  Since it is in development only atm, it had a 4 hour backlog of build requests in the queue (only 1 worker so far).  A total of 7 builders, the 2nd last one waiting in build requests, it triggers the last builder to parse the logs, report success/fail.

[2021-05-04 10:25] senyai commented on #5946
The `Fileupload` docs say: _The copied file will have the same permissions on the master as on the worker, look at the mode= parameter to set it differently._ So, maybe you should try that `mode` parameter?

[2021-05-04 14:29] nlamprian commented on #5979
Normally, this does not cause problems. But now, it had an instance of the exception after which the website became unresponsive (I'm assuming a connection here).

2021-05-04 15:27:20+0200 [-] releaseLocks(<Worker 'worker'>): []
2021-05-04 15:27:21+0200 [-] while handling API request
	Traceback (most recent call last):
	  File "/usr/lib/python3/dist-packages/twisted/internet/defer.py", line 1475,

[2021-05-05 03:17] jerkstorecaller opened #6012 "Manual says buildbot-worker works on Python 2.7 or 3.5, but neither works"
Manual at http://docs.buildbot.net/current/manual/installation/requirements.html

I'm interested in buildbot. One of my build machines is a Ubuntu 16.04 system. I tried installing buildbot-worker on it before I delved too deep into buildbot. I can't get the worker to run.

Version info:
[code]

Installation fails using pip2:
[code]

I then tried manually/forcefully installing pathlib on pip2, but

[2021-05-05 08:02] p12tic commented on #6012
That may be a problem with the Ubuntu python system environment, which probably still needs a workaround on Buildbot side. Does installing in a virtualenv work?

[2021-05-05 10:07] mokibit commented on #4344
Hi,
I am currently working on this feature. Master and worker will communicate through MessagePack over WebSocket protocol.  All master-worker commands work using this new protocol, except "uploadFile", "uploadDirectory", "downloadFile". Specification is also nearly done.

[2021-05-05 10:08] tardyp commented on #4344
wow! super cool!

[2021-05-05 13:26] rvanlaar commented on #5146
Our buildbot is open for the world, but only logged in users can kick off builds.

https://github.com/scummvm/scummvm-sites/blob/director-buildbot/master.py#L191

[code]

[2021-05-05 15:07] seankelly commented on #6012
The first code block downloaded Twisted 21.2.0 and that's Python 3.5+. Buildbot-worker will need to constrain Twisted's version to the last version that supported Python 2 if on Python 2. That appears to be 20.3.0.

In the second code block, that's also an error from Twisted. Twisted 21.2.0 says its minimum Python version is 3.5.4. I booted an Ubuntu 16.04 VM and upgraded Python 3 to the latest ve

[2021-05-05 15:37] jerkstorecaller commented on #6012
Thanks @seankelly for the explanation. It's fine if I can't install the worker for Python 3, if it works for Python 2. Thanks to your comment I was able to get it to run (or at least print the help, hopefully there's no further issues down the line. It will take me timer to set up buildbot proper to do a real test).

For anyone else who's a Python novice reading this, how I ended up fixing it is l

[2021-05-05 17:04] sphet commented on #6003
If someone can point me to the right place in code to explore the caching of this data, I will look into it. Or is it not solvable?

[2021-05-05 21:39] p12tic commented on #6012
Wondering if we can add code to buildbot-worker scripts warning about this situation of wrong versions of dependencies...

[2021-05-08 22:17] aj062 opened #6029 "Buildbot restart sometimes results in builds being CANCELLED instead of RETRY"
Buildbot stop/restart sometimes results in builds being CANCELLED instead of RETRY. The ongoing builds should be marked as RETRY when buildbot stops/restarts.

[2021-05-08 22:18] aj062 commented on #6029
Seems like the corresponding code while marks the builds as CANCELLED is https://github.com/buildbot/buildbot/blob/master/master/buildbot/process/botmaster.py#L129

[2021-05-10 23:44] steven-johnson commented on #5745
This is still happening very regularly for us, and it's becoming a big issue -- the stuck workers are 'zombies' that can't get new jobs assigned to them (since the master thinks they are still working). Restarting the master clears this up, but that means interrupting all the other (non-zombie) workers.

As a stopgap, is there any way to tell the master to flush the work queue of a specific worker

[2021-05-11 10:08] p12tic commented on #5745
Actually yes, I didn't consider that I might not be able to easily tell when the worker disconnected just from master side.

[2021-05-11 19:32] tardyp commented on #5745
I think adding some log here might give some more clue of what we are trying to render:
https://github.com/buildbot/buildbot/blob/master/master/buildbot/process/properties.py#L682

Then, there is this old PR on twisted that is supposed to fix the traceback generation, that was never merged
https://github.com/twisted/twisted/pull/988

Maybe you can try repro with that version of twisted.

If you ha

[2021-05-11 21:08] p12tic commented on #5745
I think it's worth it. There will always be weird environments with plenty of things being unreliable. Buildbot should handle them properly.

Regarding the failure, I suspect that the cause may be rendering of the build properties that is done before each step in `setBuildProperties()`.

@steven-johnson I think you can apply the patch suggested by Pierre as an interim solution. It may not help tho

[2021-05-12 04:49] orsenthil opened #6047 "https://docs.buildbot.net/ is Broken"
Looks like https://docs.buildbot.net/ as of May 11, 2021.

[2021-05-13 06:55] levitte opened #6048 "DOCS: Buildbot worker as windows service has a broken link"
https://docs.buildbot.net/latest/manual/installation/misc.html#launching-worker-as-windows-service has a link to [the TRAC wiki page "RunningBuildbotOnWindows"](http://trac.buildbot.net/wiki/RunningBuildbotOnWindows), but that doesn't seem to be available any more.

It would be nice if this was updated

[2021-05-13 10:13] p12tic commented on #6047
Seems to be fixed now. Thanks!

[2021-05-13 10:13] #6047 closed

[2021-05-13 10:33] p12tic commented on #6003
@sphet Could it be that the caching is on the backend to which CustomAuth communicates? In the case of metabuildbot I can see that logout successfully clears the Twisted session cookie, but when authenticating again Github does not offer to change users and just reuses whoever is already signed in on Github side. If I sign out on Github, subsequent login on Buildbot will no longer automatically lo

[2021-05-13 18:15] p12tic commented on #5147
Looks like this test was never disabled and we didn't see similar issues again.

[2021-05-13 18:15] #5147 closed

[2021-05-13 19:10] p12tic commented on #6029
@aj062 Does the logic not apply in your environment? It does not make sense to retry triggered builds, because the builds that triggered them will be retried anyway and will create the same build again as proper dependency.

[2021-05-13 19:22] p12tic commented on #5946
@senyai Thanks for explaining. I'll close this issue as it's likely the problem the user had is solved by the suggestion and there was no response anyway.

If the suggested solution does not solve the issue, please reopen the bug. Thanks.

[2021-05-13 19:22] #5946 closed

[2021-05-13 21:20] #2950 closed

[2021-05-13 21:20] #2853 closed

[2021-05-13 21:20] #3936 closed

[2021-05-14 01:51] p12tic commented on #5745
@steven-johnson Check out https://github.com/buildbot/buildbot/pull/6051, this should fix at least some of the problems you're seeing as I was able to reproduce exact same logs in an integration test.

[2021-05-14 11:48] p12tic commented on #5745
Thinking about this a little bit more, the fix in #6051 is essentially an upgraded version of what Pierre suggested and what you've tested already. Since this will be merged to Buildbot proper anyway, it would be great if you could test it and then if issues still happen, create another set of master/worker logs that I could look into. The errors will be different in that case, so without the logs

[2021-05-14 15:12] sphet opened #6053 "MailNotifier aggregate multiple builder results"
After a build is complete for a specific revision, we trigger a suite of builders for testing. Currently each test haas a notifier, so in the case of a cross-test failure we get a spam of emails.

Is there a method to aggregate builder results somehow into one email?

We do collapse build requests for some long-running tests, so I recognize this might be a hard problem to solve, but I'm looking fo

[2021-05-14 16:22] steven-johnson commented on #5745
Wow, fantastic, thanks!

https://github.com/buildbot/buildbot/pull/6051 says that https://github.com/buildbot/buildbot/pull/6052 also needs to land for it to be stable -- is that just for internal tests, or do I need to patch them both in to try it locally?

[2021-05-14 20:06] steven-johnson commented on #5745
So far this looks like a huge improvement in reliability for us.

[2021-05-15 02:33] seankelly opened #6054 "Can't start Buildbot master"
Ansible updated buildbot.buildbot.net to the latest commit (81d1179e5a) and it quickly gets this in `twisted.log`
[code]

I reset to the previous merge, 1b16975313, and now it runs fine.

[2021-05-15 05:39] #6054 closed

[2021-05-15 05:39] #5745 closed

[2021-05-18 12:46] tenta4 commented on #5614
There are workaround described on https://stackoverflow.com/a/65100116/1703217

[2021-05-18 18:06] BishopGIS commented on #5988
The problem with builds was because daylight saving on LibVirtWorker. There was 1 hour difference leads such behaviour.
Disabling this in worker OS fixed problem.
So bug label can be removed.

[2021-05-18 18:37] aj062 commented on #6029
In our case the build finishes soon after it trigger another build. For e.g.: https://ews-build.webkit.org/#/builders/52/builds/14000 run the trigger step (step 14) and immediately finished. The triggered build (e.g.: https://ews-build.webkit.org/#/builders/51/builds/12218) runs whenever the corresponding bot is available.

If the triggered build is CANCELLED due to master restart, it will never b

[2021-05-19 08:25] tardyp commented on #6029
its not only for triggered builds, it is for triggered build that are "waited_for"

The waited_for variable is set. here:
https://github.com/buildbot/buildbot/blob/master/master/buildbot/steps/trigger.py#L297

and forwarded all the way to the db:
https://github.com/buildbot/buildbot/blob/master/master/buildbot/db/buildsets.py#L115

In your example, if you go in the debug tab here:
https://ews-buil

[2021-05-19 08:52] tardyp commented on #5875
as @rodrigc pointed out on IRC, protractor is also sunsetting.

[2021-05-19 15:24] rodrigc opened #6060 "Protractor being sunsetted, end of 2022"
Related to https://github.com/buildbot/buildbot/issues/5875

According to https://github.com/angular/protractor/issues/5502 , Protractor is being sunsetted at the end of 2022.

Buildbot may wish to change its e2e tests from Protractor to one of the suggested alternatives.

[2021-05-19 20:53] YngveNPettersen commented on #4678
For reference, we are still seeing this issue occasionally when the network connection to workers get broken, with the same exception reported in the log. Most recent case this week.

We are now using Buildbot v3.1.1

[2021-05-20 13:24] #4998 closed

[2021-05-20 13:50] aj062 commented on #6029
I tried 'buildbot stop' on build.webkit.org and the issue happened with https://build.webkit.org/#/builders/29/builds/3511 and https://build.webkit.org/#/builders/12/builds/3117

waited_for seems to be false for these builds.

[2021-05-20 13:56] huwcbjones opened #6061 "Multi-master: can't force scheduler"
We're hitting scale issues with buildbot (180+ workers, 100+ builders) and are investigating multi-master with a single instance co-ordinating the builds and load-balanced instances driving the UI.

I've managed to get this working, however part of our workflow relies on forcing builds.

UI on the master
![image](https://user-images.githubusercontent.com/5251487/118990996-44b8a680-b97b-11eb-8f28-1

[2021-05-20 14:07] aj062 commented on #6029
I have also noticed that when I do following, this issue doesn't happen (I usually do this, and never noticed this issue).
[code]
But while doing regular 'buildbot stop', I have noticed this issue several times.

[2021-05-20 18:01] tardyp commented on #6061
You need to configure the force schedulers on the UI master(s).

BTW, I would advice you to have several build masters and one UI master, as usually the load is on the build management.
You would need to split your workers between masters which is a bit annoying.

That said, usually, single build master and single UI master will solve most of the performance issue.

[2021-05-20 18:24] huwcbjones commented on #6061
Awesome, thanks!

I'll have a look through the multi-master docs and add this advice in 😄

[2021-05-22 08:04] tardyp opened #6064 "'NoneType' object has no attribute 'waitShutdown'"
seen on metabuildbot twisted.log

[code]

[2021-05-23 01:11] aj062 opened #6065 "buildbot should allow restarting specific builders instead of restaring all builders"
Buildbot needs restart to pick up any config change (reconfig mostly doesn't work). However, even when a change affect only one or few builders, the complete buildbot instance needs to be restarted to pick up the change. This becomes problematic for large instances with lots (e.g.: hundreds) of builders, and long running builds. Just to pick up a change affecting few queues, hundreds of other non-

[2021-05-23 03:02] seankelly commented on #6064
I saw this same error in #6054 but after the error I included in that log.

[2021-05-25 20:27] aj062 opened #6074 "Paused bots resume automatically on master restart"
Paused bots resume automatically on master restart. They should remain paused until someone unpause them.

Usually I pause a bot when a bot is having some issues (e.g.: disk full, unexpected failure etc.). However, it automatically resumes on master restart, which is unexpected. Master restart should not override a manual action (of pausing the bot).

[2021-05-26 15:09] seankelly opened #6077 "IRC reporter cannot connect to Libera Chat"
Two separate reports about Buildbot not connecting to Libera:

[2021-05-26 15:46] seankelly commented on #6077
[Libera mentions that certain IP ranges are required to use SASL](https://libera.chat/guides/sasl).

[2021-05-26 19:17] tardyp opened #6078 "community IRC should move out of freenode"
Freenode ownership has changed and it become clear that freenode is not anymore a safe place for opensource communities.

A "biased toward libera" summary of the events is available here:
https://gist.github.com/joepie91/df80d8d36cd9d1bde46ba018af497409

I would be inclined to rather include here a more objective summary of the events for everybody to make its own view.

Two alternatives are avail

[2021-05-28 12:23] aliceinwire commented on #5794
we are still getting this errors
[code]

[2021-05-28 12:30] aliceinwire commented on #5794
the code is here: https://github.com/GKernelCI/GBuildbot

[2021-05-28 12:38] aliceinwire commented on #5794
@p12tic we are having problems where the gitpoller is usually crashing and I have to restart buildbot master manually

[2021-05-28 15:37] jakobhu opened #6088 "How to make ForceScheduler show available branches in droplist ?"
I'm using a **ForceScheduler** to allow users to schedule builds using a button from our local buildbot webpage.

I would like the UI to show a droplist with the available branches for a particular repository. This way users don't have to type their feature branch names correctly each time.  How do I achieve that ?

So far I've looked at exploiting the **codebases** option of **ForceScheduler** (s

[2021-05-29 00:28] aj062 opened #6089 "buildbot start becomes very slow in case of large number of pending build-requests"
When there are large number of pending build-requests, 'buildbot start' becomes very slow. For example on a large instance with few thousands pending build-requests and few hundred queues, even without any worker connected, 'buildbot start' or 'buildbot restart' takes multiple minutes.

Seems like buildbot goes through the pending build-requests during the buildbot start process, which can get ver

[2021-05-29 06:54] tardyp commented on #6089
I think this is a dupe of #3676 and more generally #3395

The prioritization features of buildbot requires that a lot of data must be fetched from the db for the build requests. This is normally cached but, at buildbot start the cache has to be rebuilt.

[2021-05-29 06:55] tardyp commented on #6089
You can always do a bit of buildbot profiler to confirm this hypothesis.

[2021-05-30 03:28] heytred commented on #6088
What I've done is with a CodebaseParameter with a ChoiceStringParameter for the branch value.

http://docs.buildbot.net/latest/manual/configuration/schedulers.html#codebaseparameter
http://docs.buildbot.net/latest/manual/configuration/schedulers.html?highlight=choicestringparameter#choicestringparameter

Example might look something roughly like this?

`
from buildbot.plugins import util

PROJECT

[2021-05-30 06:30] jakobhu commented on #6088
Yes something like that, however; the branch-names are still hard-coded in that example (i.e. "main", "dev").
I'm looking for examples or ideas on how to make buildbot discover the branch names of a given repos.

Could I have to have an external service monitoring the repository, storing the discovered branches in a file - then load them on the buildbot master to construct the list of choices ? I'

[2021-05-30 10:42] mwild1 opened #6090 "Unable to specify project with Github change hook"
The [docs for the Github change hook](https://docs.buildbot.net/latest/manual/configuration/wwwhooks.html?highlight=change%20hooks#github-hook) state:

I tested this with 2.10.1, and it appears to be ignored. The latest source appears to confirm this: https://github.com/buildbot/buildbot/blob/master/master/buildbot/www/hooks/github.py#L158

- **Preferable solution:** Allow setting the project via

[2021-05-30 10:50] mwild1 opened #6091 "Trigger different schedulers for commits and tags from Poller change sources"
I have a project where I want new commits to the primary branch to publish dev builds (e.g. builder1), and then when a tag is pushed, I want to trigger builder2 (which performs some release steps).

My initial attempt was to define two GitPoller instances, the second one with only_tags and setting `category="tag"`, so that schedulers can be triggered by new tag pushes.

Unfortunately I then found

[2021-05-30 11:41] Zash opened #6092 "Feature request: Step grouping"
**TL;DR:** A way to group steps, with sensible skipping and failure behavior.

**Background**

Consider a test that runs the same things in multiple configurations. This could be different runtime versions (think Python 2 vs 3.n vs 3.n+1 etc) or different flags to `./configure`.

This could be done by creating a lot of different builds using multiplicative `for` loops, but this might grow out of h

[2021-05-30 13:03] Zash opened #6093 "Codebase separation issue"
**Scenario**

Have:
* Mercurial repository with the main code.
* Multiple additional Mercurial repositories with the same code for incoming patches for review.
* Common tests suite
* Nightly build

Want:
* Run CI tests against changes from the main repository.
* Also run tests against
* Build a nightly from the latest change of the main repo when it has new changes.

**Configuration**

We tried so

[2021-05-30 21:49] heytred commented on #6088
Take a look at the poller for the VCS you are using (for example, link to GitPoller: http://docs.buildbot.net/latest/manual/configuration/changesources.html?highlight=change%20source%20poller#gitpoller).

You'd probably be able to use the `branches` parameter set to `True` for all branches and create a subclass that during config then caches the branch names somewhere for the master to reference.

[2021-05-31 09:17] germandiagogomez opened #6094 "Cannot start buildbot-worker under windows 10 or MacOs KVM virtual machines"
Hello everyone,

I have an issue connecting my windows worker to an endpoint with a buildbot master. The endpoint in question is reachable: I can connect from the windows machine to the buildbot master machine through ssh and ping it as well, so it seems strange that it does not connect.

Tried as well:

- I also install pywin32 packages and did this: https://github.com/buildbot/buildbot/issues/41

[2021-05-31 09:21] germandiagogomez commented on #6094
It seems that my macos is having the same problem. For more information, both are running under a KVM setup, windows and Mac...
But they are under a different subnet.

[2021-05-31 10:02] germandiagogomez commented on #6094
After reviewing (and insisting on a bad setup for like 3 hours) I noticed everything works fine... closing.

[2021-05-31 10:02] #6094 closed

[2021-06-04 01:11] p12tic commented on #5794
@aliceinwire I will look into this this weekend.

[2021-06-04 09:53] aliceinwire commented on #5794
@p12tic thanks you!
With the current deferred gitpoller I currently don't see this error anymore.

[2021-06-04 11:37] p12tic commented on #5794
@aliceinwire Turns out this is bug in Twisted's `getProcessOutputAndValue` function that we were using (I filed this as https://twistedmatrix.com/trac/ticket/10207). The new gitpoller implementation no longer uses `getProcessOutputAndValue` so we can call this bug fixed.

[2021-06-05 02:27] aliceinwire commented on #5794
@p12tic thanks you!

[2021-06-05 02:29] aliceinwire commented on #5794
closing this issue as solved from buildbot side

[2021-06-05 02:29] #5794 closed

[2021-06-05 12:21] aj062 opened #6095 "build steps should have ability to retry n times"
While writing build steps, there should be an option to add a retry parameter, which will result in the step to be retried specified number of times.

Few build-steps like source (and specifically git.Git) already have such ability (e.g.: https://github.com/buildbot/buildbot/blob/master/master/buildbot/steps/source/git.py#L401), and is configurable using retry parameter (at https://github.com/buil

[2021-06-09 13:09] PhilippSelenium commented on #5930
Looks better, Thanks!

[2021-06-09 13:09] #5930 closed

[2021-06-11 16:19] felixfontein opened #6100 "Git poller state exceeds database field size after some time"
When the Git poller covers all branches, it can happen that eventually the `lastRev` state gets too large so that it cannot be stored in the DB anymore (resulting in `Data too long for column 'value_json' at row 1` exceptions). This is because it never forgets branches that used to exist in the past (https://github.com/buildbot/buildbot/blob/master/master/buildbot/changes/gitpoller.py#L239), so it

[2021-06-14 16:56] tardyp commented on #6078
decision: switch to libera: https://web.libera.chat/?channels=%23buildbot

[2021-06-14 16:57] #6078 closed

[2021-06-15 14:13] #6074 closed

[2021-06-15 20:21] p12tic commented on #6100
@felixfontein I think replacing makes sense here. It can be argued that removing a branch will remove all state related to it in the repository and subsequent push is unrelated even if the commit SHA is the same.

[2021-06-15 20:23] p12tic commented on #6093
Marking this as a bug as the documentation should explain it clearly and either the documentation is wrong or the approach taken does not work (still a bug).

[2021-06-15 20:27] p12tic commented on #6092
@Zash Why wouldn't you just run multiple builds in this case? Is the source checkout too expensive compared to the build steps?

There could be a "master" build which when started triggers the "worker" builds and waits for their completion using the `Trigger` step.

I understand that a large number of builders would be a problem in the current web UI, but this is a UI issue.

[2021-06-15 20:29] p12tic commented on #6091
@mwild1 What was the exact issue that you saw with multiple GitPollers? I think your approach was correct, the only thing that you would need to do is using different workdirs and names for each GitPoller.

[2021-06-15 20:35] p12tic commented on #6090
I agree with you that the preferable solution is to match the docs.

I think the patch is relatively simple, maybe you could even do it yourself and submit a PR? I could then finish with tests.

[2021-06-15 21:54] mwild1 commented on #6091
If I recall correctly, I observed that only one poller ever triggered. I don't recall if they were sharing the same workdir, I can check that, however the docs for GitPoller do state:

and also:

Even if the first is not true, the second one (if true) is why I assumed my initial attempted configuration was not working.

[2021-06-16 03:03] hmoffatt opened #6113 "lists.buildbot.net certificate expired"
https://lists.buildbot.net/ shows an expired certificate warning as of June 6.

[2021-06-16 04:57] hmoffatt opened #6114 "documentation says 3.0 is not released yet"
Even in the 3.1 documentation, the chapter on upgrading to 3.0 says that version is not released yet. https://docs.buildbot.net/3.1.0/manual/upgrading/3.0-upgrade.html

[2021-06-16 10:00] #5933 closed

[2021-06-16 10:00] #5611 closed

[2021-06-16 13:11] LuluDavid opened #6116 "HgPoller is not updated anymore"
Hi. I am using buildbot with Mercurial, and it seems that lots of improvements I am seeking are implemented on GitPoller but not on HgPoller. For instance :

- An option **branches=True** to listen to all alive branches
- An option **branches=filter** to filter all alive branches to listen
- Building commits on previously unknown branches using the direct parent on the origin branch to record the

[2021-06-16 17:00] Zash commented on #6092
We do currently run multiple builds, one for each OS/distro and Lua version, and it works decently after adding a lock to keep the number of concurrent builds down. Our Mercurial repo struggled with around two dozen concurrent clones/pulls and would occasionally time out and cause cause builds to fail.

We should make another attempt at connecting all these with Triggers, that probably gives the b

[2021-06-16 23:42] hmoffatt opened #6117 "improve SVN build step example"
The SVN build step documentation shows this example:

[code]

However this doesn't handle trunk, where src::branch is None. I ended up checking out my entire repository (every branch) due to this. A better example would be

[code]

[2021-06-17 15:38] p12tic commented on #6116
@LuluDavid It would be great if you submitted your improvements as PRs, so they would benefit all users and be maintained by the project long-term.

[2021-06-17 15:43] p12tic commented on #6114
@hmoffatt Thanks for the bug report.

[2021-06-17 15:47] p12tic commented on #6092
@Zash You could add locks for all mercurial steps that clone from the same mercurial repository. This way you would be able to precisely control how many concurrent clones there are.

[2021-06-17 16:26] p12tic commented on #6064
I believe the issue has been fixed in #6056. The last error was on 2021-05-21 and not seen since.

[2021-06-17 16:26] #6064 closed

[2021-06-17 16:26] #6114 closed

[2021-06-17 16:54] Casius91 opened #6120 "Multiple buildbot sendchange result sometimes to a override of some property"
buildbot version : 3.1.1 (with my old buildbot version 1.16 no problem)

Sometimes with multiple buildbot sendchange at same time I have an issues where my property is override.

Example :
buildbot sendchange --master XX.XX.XX.XX:9999 --auth login:pass --who build_sdk --category TEST_CAT1--property test_id:1764
buildbot sendchange --master XX.XX.XX.XX:9999 --auth login:pass --who build_sdk --categ

[2021-06-22 09:15] Try2Code commented on #3076
Working on a 0.8.x transition,too. Got the same problem - any comment on this by a developer would be helpful.

My work-around split in two
* I use a change_filter to trigger all builders if a branch uses a certain naming pattern
* I try to integrate buildbot into gitlab and convince people to use merge-requests. But this involves lots of authentication issues to work on

Finally I would just like

[2021-06-24 13:23] aj062 opened #6125 "Trigger step keep showing 'loading buildrequests details...'"
Trigger step keep showing 'loading buildrequests details...' until the build actually starts. After the build starts, it does correctly link to the triggered build, but until then it doesn't link to the pending build-request. e.g.: in attached image, two builds were trigerred, however one of them has started and other one is waiting for available bot. The one which is waiting keep showing 'loading

[2021-06-24 17:54] Try2Code opened #6126 "Docu on Triggerable Schedulers needs fix"
hi!

I try to make use of the Triggerable scheduler to create ForceScheduler, that starts all builders via a single button.

Anyway, when checking the docu at

http://docs.buildbot.net/current/manual/configuration/schedulers.html?highlight=trigger#triggerable-scheduler

I wanted to build something according to the given example which claims to be _fully working_. Unfortunately it is not working, b

[2021-06-24 19:23] samuelgregorovic commented on #2999
i can do this if you would assign it to me. thanks

[2021-06-25 22:39] alex-nl opened #6127 "Question: Easiest way to share a hardware pool across multiple buildbot masters, with locking?"
Currently we build multiple projects using Buildbot, and each of those has a separate master and pool of workers, running on our own hardware. This is specialized hardware (we can't replace it with cloud VMs) and there are non-negotiable reasons why we can't merge these projects under a single Buildbot master. As such, currently each project has its own pool of machines, and each machine only runs

[2021-06-26 20:24] p12tic commented on #6127
I think the feature for sharing workers between masters makes sense in principle, but it would require some serious refactoring on Buildbot side.

As an interim solution, I think you could create a pair of steps for every builder - one that would lock a worker and another that would unlock. As a result you could just run multiple Buildbot workers connecting to different masters on the same hardwar

[2021-06-27 15:41] tardyp commented on #6127
I think the best way to do this is to use the LatentWorker framework.

a LatentWorker is a controller on the master which will start the worker remotely using a protocol of many mean.

So you can just create a new LatentWorker implementation, that can just ssh to a worker, take a lock and start the correct worker that will connect to the right master.
Like for the other proposal from @p12tic they

[2021-06-28 11:26] ynezz commented on #5832
FYI, updated to 3.2.0 today and seeing workers still in [connected state](https://buildbot.openwrt.org/master/images/#/workers) even they got disconnected 6 days ago.

![image](https://user-images.githubusercontent.com/43848/123629271-60ce2400-d814-11eb-8da6-647e353fef93.png)

[code]

[2021-06-28 12:40] mvousden opened #6129 "Question: How to set up GithubStatusPush reporter"
Firstly, apologies if this is the wrong place for this question.

I'm interested in using a `GithubStatusPush` reporter (described at https://docs.buildbot.net/3.2.0/manual/configuration/reporters/github_status.html#reporter-GitHubStatusPush) to interact with the checks interface, so that members of my project can understand if the changes suggested in a PR cause tests to fail.

My project exists

[2021-06-28 21:20] alex-nl commented on #6127
Thank you both for the insightful suggestions!

To give a bit more context, we have a variety of post-build steps, many of which have a very specific hardware requirements (different drivers, attached devices, operating systems, memory requirements, etc). Our hardware pool is relatively static and the different types of machines are not interchangeable. I think for now Latent Workers might not be

[2021-06-28 21:44] p12tic commented on #6127
Quickest would be:
 - Add a step that runs lock command at the beginning of each build. This way you will be able to utilize all the existing infrastructure around steps with regards to timeouts and so on. If you just do waiting somewhere else, you will likely hit edge cases because e.g. Buildbot does not expect a build not to start for two hours.
 - Add a step that is always ran (see `alwaysRun=T

[2021-06-28 21:49] alex-nl commented on #6127
Brilliant, thanks.

[2021-06-30 10:27] #6100 closed

[2021-06-30 13:28] p12tic commented on #6129
Could you try to generate a "Personal access token" instead? In one of my repositories I have "repo" and "workflow" scopes enabled, so this should definitely work.

[2021-06-30 13:53] mvousden commented on #6129
Thanks for the suggestion. I guess best practice would be to make a "robot" GitHub account that owns the token, to ensure the token isn't used for anything outside of the Organisation it's designed to.

I'll give this a go tomorrow (hurrah for meetings).

Cheers for the help!

[2021-07-01 10:32] mvousden commented on #6129
Can confirm this fixed this user-error issue. I:

 - Created a robot Github account
 - Created a personal access token (via the developer settings menu)
 - Passed that token to the `token` field in my `GitHubStatusPush` object

Thanks again.

[2021-07-01 15:18] yan12125 commented on #6053
[`BuildSetStatusGenerator`](https://docs.buildbot.net/latest/manual/configuration/report_generators/buildset.html) may be useful. I have a similar issue and all failure mails for the same git commit are merged after I switched to `BuildSetStatusGenerator`. Here are my changes: https://gitlab.com/yan12125/buildbot/-/commit/c75952433e6421bb9b286ff6f41d3d8d1dea7afe

[2021-07-02 12:08] Conan-Kudo commented on #5992
Has there been any progress on this?

[2021-07-05 20:00] rvanlaar opened #6131 "QUESTION: WAMP connection problems?"
We're running a multiMaster buildbot. 2 masters with local workers and one for the UI
We've been getting random unrecoverable errors since using crossbar.

We've set crossbar to level trace, but it didn't show any errors.

This is from our the ui master:

[code]
What can we do to resolve this?

[2021-07-06 09:06] rvanlaar commented on #6131
On further investigation, we're getting these errors in crossbar:

[code]

[2021-07-07 13:03] slawek-es opened #6132 "WorkerLock's maxCountForWorker ineffective when acquiring lock for a buildstep"
I have been trying to define a `WorkerLock` with the number of maximum concurrent builds specifically set for one of my workers, and add it to a single build step, like this:

[code]
[code]

It looks like there is an issue which prevents the worker-specific maximum count from being used, as I can see that the `MyCustomBuild` step can be executed twice concurrently on the same worker.

After I adde

[2021-07-07 13:51] tardyp commented on #6131
Hello. It sounds like you may have connectivity issue with you wamp server.

could that be a reverse proxy timeouting?

[2021-07-07 18:15] rvanlaar commented on #6131
Hi @tardyp Thank you for thinking in solutions.

It's running locally, with the default `crossbar init` settings.  So no reverse proxy.
The system though is under high load when running builds.

[2021-07-09 08:45] LuluDavid opened #6134 "Cancelled builds on startup with multiple SingleBranchSchedulers"
Hi, I opened this issue because I found a problem that might be similar to #4686 and #3762.
I am working with HgPoller but I extended it because I want to poll the initial commits as changesets to test (whereas they are considered as references not to test in the default implementation). I also created multiple SingleBranchSchedulers to listen to the polled repositories, each scheduler triggering

[2021-07-10 05:42] yan12125 commented on #3126
I have a proof-of-concept fix at https://github.com/yan12125/buildbot/commit/8c799425a13512d5da6eb2957b369e0dce1eaecb. Here are two questions about the design:

* Hashed passwords in htpasswd files do not work with HTTP digest authentication as the latter needs to know the password in cleartexts to compute the hash `HA1` [1]. I removed `DigestCredentialFactory()`, anyway. I think HTTP basic authen

[2021-07-10 09:03] p12tic commented on #3126
@yan12125

Do I understand correctly that the `DigestCredentialFactory` item you removed was always broken?

[2021-07-10 12:00] yan12125 commented on #3126
I just give it a try with my Buildbot installation, and `DigestCredentialFactory` works with plain-text passwords in the htpasswd file.

If I understand Twisted correctly, here are how things work for the current (unpatched) Buildbot:

* `FilePasswordDB.requestAvatarId()` calls `DigestedCredentials.checkPassword()` with the "password", as the `hash` parameter of `FilePasswordDB` is not set [1]. `D

[2021-07-10 12:07] yan12125 commented on #3126
Oh, I noticed that Apache provides another utility `htdigest` for managing user files for digest authentication. Let me investigate it.

[2021-07-11 13:40] #4809 closed

[2021-07-14 09:04] yinyangsx commented on #5844
Hello, I am also meeting the similar issue, TASKKILL failed with exit status 128.
`2021-07-14 10:29:25+0300 [-] using TASKKILL PID /F /T to kill pid 213464
2021-07-14 10:29:25+0300 [-] Unhandled Error
	Traceback (most recent call last):
	  File "d:\buildbot\sandbox\lib\site-packages\twisted\application\app.py", line 399, in startReactor
	    self.config, oldstdout, oldstderr, self.profiler, reacto

[2021-07-14 20:42] klhowell commented on #5844
@yinyangsx It looks like your issue is a bit different from mine, but leads to the same exception. In my case, the version of TASKKILL with the '/F' was never called due to an earlier exception. In your case, TASKKILL is being called with the '/F', but it is returning failure. Your failure looks to me a bit like a race within TASKKILL itself. After this exception, is the process tree successfully

[2021-07-15 01:26] yinyangsx commented on #5844
I confirm that the process tree was successfully killed, but the job is not terminated, it is still in yellow. I very agree with you that the exceptions from TASKKILL should be handled.

[2021-07-15 05:11] yan12125 commented on #3126
Here are some notes about enabling HTTP digest authentication in Buildbot with files generated by `htdigest`:

* `htdigest`-generated files contain three fields - the username, the realm and the `HA1` value, which is the result of `MD5(username:realm:password)`
* Twisted's `DigestCredential.checkHash()` can be used to check credentials with pre-computed HA1 since long time ago [1]. However, nobody

[2021-07-15 18:35] rvanlaar commented on #6131
As far as debugging goes, the problem went away when we configured crossbar to not send pings:
`"auto_ping_interval": 0,`

[2021-07-15 18:41] rvanlaar commented on #5987
I have a comparable problem.
We're running multi-master and only want one build, with triggerable substeps, to run at a given time.

This config works when running single master:
[code]

[2021-07-15 20:20] tardyp commented on #6131
mmh, its possibly removing the symptom, not the problem. You might still be loosing data without knowing.

f the machine is overloaded, maybe separating postgres + wamp out of the build master would be a wise idea.

Regards

[2021-07-16 06:38] yinyangsx commented on #5844
I have a new idea, I think Buildbot should add the exit code '128' of TISKKILL as a Successful Return Code because code 128 means that the process you attempted to kill wasn't actually running on the target system.

[2021-07-16 06:55] yinyangsx opened #6140 "Should add the exit code '128' of TASKKILL as a Successful Return Code"
Hello, my Windows Server 2019 worker failed to run TASKKILL command when timeout happen.  TASKKILL failed with exit status 128.
_2021-07-14 10:29:25+0300 [-] using TASKKILL PID /F /T to kill pid 213464
2021-07-14 10:29:25+0300 [-] Unhandled Error
Traceback (most recent call last):
File "d:\buildbot\sandbox\lib\site-packages\twisted\application\app.py", line 399, in startReactor
self.config, oldstd

[2021-07-16 11:22] rvanlaar commented on #6131
Thank you for the feedback.

The server in use does has multiple CPUs and one build would eat 100% of one core on the master.  The reason to start using WAMP is to use multiple masters to reduce the load.

Our test system is currently at 2 masters for workers and one for the UI. With both worker masters using between 70 and 90% cpu of one core.

I tried searching for buildbot and twisted to use mo

[2021-07-19 08:54] gmcdonald opened #6144 "Can not have more than one IRC channel"
Looks like somewhere between 2.4 and 3.2 a regression has been introduced, where we can no longer define multiple IRC channels. Our use case requires an IRC bot/user in a channel 'per project'. So multiple channels, each being able to listen and act on its own set of Builders. This no longer seems possible.

Quick example:

`irc = reporters.IRC(...)`
`c['services'].append(irc)`

Above works fine

[2021-07-19 10:48] Humbedooh commented on #6144
To add some additional context, we tried to work around the name issue with the following, as we have an arbitrary number of IRC clients we need:
[code]

This allows one to create and append multiple IRC services, but it seems that since things hinge on the _class name_ (not the object name), only one of them are actually enabled at runtime.

[2021-07-19 10:50] Humbedooh commented on #6144
A workaround that actually works (for now), is to dynamically create a new class with a unique class name:

[code]

Not sure I like it, but it works, so...

[2021-07-19 18:41] jsonar-cpapke opened #6146 "Custom services can't be updated when using reconfig"
When writing a custom class that is subclassing a BuildbotService class in some way (like a custom `MailNotifier` or `LatentWorker`), any changes to the class code will not be picked up during a reconfig of the buildbot master.

This of course is because of how reconfig works, but it would be nice to have a way of forcing the service to use the new code in these situations so that custom classes c

[2021-07-20 09:30] tardyp commented on #6144
You can actually just override the name to your two IRC services:

[code]
This should be implemented here in the master class:
https://github.com/buildbot/buildbot/blob/master/master/buildbot/util/service.py#L187

If it does not work, then this is a bug.

[2021-07-20 10:05] Humbedooh commented on #6144
That does indeed work. It would be wonderful to have that documented on docs.buildbot.net

[2021-07-20 10:09] rvanlaar commented on #6131
We've think we've figured it out. It's due to an intensive rest call to /changes/.

We've never had a successful build, which leads to /changes/ returning more a set of more than 17K entries, i.e. a 20MB json file. It would take more than 2 minutes of 100% cpu time to get all the changes.
Timeouts are in the order of seconds. So it makes perfect sense that it wouldn't respond in a timely matter.
S

[2021-07-20 11:27] tardyp commented on #6144
Our documentation is mostly contributed by our users. Please feel free to send a PR about this.

In this case, name is a common argument to all services, so all services can have a specific name, so it is not just about IRC.
This is why this is not documented in IRC space.

Maybe it would make sense to have a common reporter argument list in this file:

https://github.com/buildbot/buildbot/blob/ma

[2021-07-20 11:34] tardyp commented on #6131
An overlook in the design of the REST api is that indeed, it is not limitted by default.
However, most of the official users of the rest api will actually use the limit='xx' rest api argument.
e.g:

https://john.scummvm.org/api/v2/changes?limit=100

I am not sure why having only failed build is related to your issue, though.
Do you have a script that would use unlimited rest api?

[2021-07-20 14:21] rvanlaar commented on #6131
Thank you @tardyp  that's a much appreciated response.

The request for changes is done by the angular front-end that comes with buildbot.
Loading this page: https://john.scummvm.org/#/builders/18/builds/1019
results in a request on: https://john.scummvm.org/api/v2/builds/21422/changes

The  `?limit=1` doesn't seem to work. Compare these two examples from buildbot.buildbot.net:

[code]
[code]
It s

[2021-07-20 15:49] tardyp commented on #6131
ah. So it is a bit different, and I now understand why the no success full build is important.

Indeed, the buildbot build changes are a different api, which gives the list of changes that may be responsible for the build failure.
It is assume that builds are supposed to be mostly success, but when a post commit build starts to fail, we cannot know which change is responsible from the actual failu

[2021-07-20 16:49] rvanlaar commented on #6131
Aha, I see. That's why the time to execute the request didn't change.

I found the changeHorizon parameter in changes.py I've set it to 1000, a 2 week horizon for us. That got the time to request the /changes for a build down to around 7 seconds.

Re: warn on failure.
Our buildbot is used as compatibility test suite. The end goal is to get all the tests to pass.
I made a custom reporter that repor

[2021-07-20 19:38] tardyp commented on #6131
I don't know how the scummvm test suite is written, but usually, known failure are marked in test suite as [expectedFailure](https://docs.python.org/3/library/unittest.html#unittest.expectedFailure)
This allow to have the test suite always green and still track the failures.

When you merge a fix for a compat test, you just need to also merge removal of expectedFailure decorator.
pytest can mix th

[2021-07-21 10:59] rvanlaar commented on #6131
Let's close the issue.

- I'll further look into how buildbot can handle expected failures. For now there's no easy way to achieve this.
- changeHorizon is not mentioned in the domentatation.

To summarize for others:
- got errors after switching to using WAMP: `builtins.Exception: subscription no longer active`
- had an overloaded buildbot, due to builds but also due to the web ui requesting all

[2021-07-21 10:59] #6131 closed

[2021-07-24 09:53] p12tic commented on #6140
@yinyangsx Would you be willing to contribute a bugfix?

[2021-07-25 21:16] p12tic commented on #6003
Closing the issue as there was no response and it seemed the problem is not really on Buildbot side.

[2021-07-25 21:16] #6003 closed

[2021-07-25 21:33] p12tic commented on #3126
@yan12125 Thanks for explanation.

I wonder, what if we keep HTTP digest authentication support as is? It would work with plaintext passwords only and we could just add a note to the documentation specifying this limitation. On Buildbot v4.0 we could drop it.

[2021-07-25 21:40] #5237 closed

[2021-07-26 01:21] yinyangsx commented on #6140
Ok, I will try to do it.

[2021-07-27 06:26] levitte opened #6151 "Modify the Try_Userpass scheduler to use secrets providers"
I was starting to play with this Try scheduler, and was a bit surprised that you have to list users and passwords literally.  Secret providers are possible to use in so many other places that this kinda of stuck out.

Is this possible to do?

I wouldn't mind a solution where you can pass a keyed argument `users = [ 'name1', 'name2', ... ]`, which would constitute a very simple ACL, but I suspect t

[2021-07-27 09:18] YngveNPettersen commented on #5832
We just had a major issue with the manager machine, and had to reboot it. Afterwards, it seems like most of the workers have not come back online and reconnected to the manager (only the Macs and one Windows machine that was being rebooted around the time the manager was rebooted).

However, the workers are all showing a green circle for their status, which means it is literally impossible from th

[2021-07-27 10:36] YngveNPettersen commented on #5832
Even an hour after restart, none of the workers that had not gotten reconnected within minutes of the restart had reconnected.

The relevant part of the log on one of the workers looks like this
[code]

The last line was just before the recovery operations started, and about 35 minutes before the last restart of the manager.

None of those workers reconnected before they were restarted manually ab

[2021-07-27 16:03] LuluDavid commented on #6134
Well the only workaround I found is to extend AnyBranchScheduler to dispatch build requests according to the branch receiving the commit, as it seems it was a concurrency matter between my multiple SingleBranchSchedulers.
So the bug is not resolved, except if some people decide to replace the current implementation of SingleBranchSchedulers with an AnyBranchScheduler that does not filter commits w

[2021-07-28 17:13] p12tic commented on #6134
@LuluDavid Could you please connect to the database that the Buildbot uses and issues this query:

[code]

Please replace $start_time and $end_time with the UNIX time of when the nighly schedulers fired plus minus, say, 5 minutes, so that all nearby build requests are captured. https://www.epochconverter.com/ is a good resource for converting human time to UNIX time (please double-check the timezo

[2021-07-28 17:14] p12tic commented on #6134
Also, is the `collapseRequests` (http://docs.buildbot.net/current/manual/configuration/global.html#merging-build-requests) customized in your buildbot configuration?

[2021-07-28 23:36] p12tic commented on #6134
I think this bug is fixed in #6152. It's most likely a duplicate of #4686 and/or #4642. I will thus close the issue.

If the bug is still present in Buildbot v3.3.0 once it's released, please reopen this issue.

Thank you a lot for your work investigating the bug.

[2021-07-28 23:36] #6134 closed

[2021-07-28 23:41] p12tic commented on #4476
This bug is a duplicate of #5200 which has been fixed in Buildbot v2.7.0. I'm thus closing the issue.

Thanks a lot for reporting it. We should have fixed it sooner, the fix was really simple and was identified in the description of the issue.

[2021-07-28 23:41] #4476 closed

[2021-07-28 23:52] p12tic commented on #3563
This bug is very likely to be a duplicate of #4642 which has been fixed in #6152. I'm thus closing the issue.

If the problem is still present after Buildbot v3.3 with #6152 is released, please open another issue as the cause is likely to be different.

Thanks a lot for reporting the bug.

[2021-07-28 23:52] #3563 closed

[2021-07-29 00:11] #3762 closed

[2021-07-29 00:11] #4642 closed

[2021-07-29 00:11] #4686 closed

[2021-07-29 10:56] yan12125 commented on #3126
That sounds a possible way. Another idea comes to my mind: how about adding an option to `HTPasswdAuth` to choose between (plain-text passwords with digest & basic authentication) and (encrypted passwords with basic authentication)?

[2021-07-29 13:56] jrmd54 opened #6154 "Bad initialization of worker container with DockerLatentWorker"
Hello, I am currently experimenting an issue related to the preparation of workers by the DockerLatentWorker object.

I am following the documentation at http://docs.buildbot.net/current/manual/configuration/workers-docker.html in order to produce a basic workflow involving:
* A master using an image with a DockerLatentWorker to perform force builds, with versions:
  Buildbot: 3.2.0, Twisted: 21.7

[2021-07-29 23:29] p12tic commented on #5992
@Conan-Kudo @yan12125 @anthraxx This should be fixed in #6156.

[2021-07-30 01:16] #6146 closed

[2021-07-30 01:17] p12tic commented on #5033
This bug has been fixed in fa7811d44b4a5617911b89839af4ebc377595919.

[2021-07-30 01:17] #5033 closed

[2021-07-30 08:16] p12tic commented on #6060
I think we'll change to cypress when converting from AngularJS to React.

[2021-07-30 09:16] #5992 closed

[2021-07-30 14:01] yan12125 commented on #5992
Thanks! I updated buildbot to the latest commit and running it with [sqlalchemy 1.4.15](https://archlinux.org/packages/community-staging/x86_64/python-sqlalchemy/) and postgresql 13.3 seems fine.

[2021-07-31 08:44] p12tic opened #6159 "Docker has limited automated builds on Buildbot repository, new tags are not built"
It looks like Docker has limited automatic build functionality which we rely on to publish buildbot images built in a secure environment. As a result for the time being new Docker images will not be pushed to the Buildbot docker repository.

I've contacted Docker about this and once they respond we'll know how to proceed further. Once this is resolved, images for missed releases will be pushed to

[2021-07-31 08:54] p12tic commented on #6132
Fixed in #6133.

[2021-07-31 08:54] #6132 closed

[2021-07-31 09:03] p12tic commented on #6159
Worst case we can setup building of docker images on our circle CI configuration. It's used to build and upload the release tarballs, so adding building of docker images does not have additional security impact.

[2021-07-31 09:12] p12tic commented on #6053
I think yan12125 has answered the question, so I will close the issue.

[2021-07-31 09:12] #6053 closed

[2021-08-02 05:01] MichealZwen opened #6161 "http://docs.buildbot.net/ can not access"
buildbot 3.2 document can not access

[2021-08-03 13:03] tokyophil commented on #6161
can confirm. same for www.buildbot.net

[2021-08-04 08:13] levitte commented on #6161
Can confirm.

[2021-08-04 08:21] levitte opened #6170 "DOCS: Why a virtual environment in Launching worker as Windows service?"
I finally got some peace of mind and could try following the steps described in [Launching worker as Windows service](https://github.com/buildbot/buildbot/blob/master/master/docs/manual/installation/misc.rst#launching-worker-as-windows-service), and I wonder, why is it necessary to make a virtualenv at all?

[2021-08-04 08:22] levitte commented on #6170
I did try out following the steps, but without setting up a virtualenv, i.e. installing all python modules system wide.  It works like a charm.  That makes me wonder what I'm missing...

[2021-08-04 08:28] levitte opened #6171 "DOCS: Installation could mention pyOpenSSL"
If the buildbot worker is set up with `--use-tls`, twisted currently needs `pyOpenSSL`.  It might be a good idea to mention this in the docs.

[2021-08-04 13:39] #6161 closed

[2021-08-05 02:21] grooverdan opened #6172 "Docker Latent Worker - remove/auto_remove=True?"
Hi,

I've seen occasional containers leaking from buildbot. Is it possible to indicate to the container API that an `auto_remove`/`remove` happens where the container is created - https://github.com/buildbot/buildbot/blob/5eb58c447eb50ecefba1d62d53760bc4f1812b8f/master/buildbot/worker/docker.py#L300?

This is a part of the API: https://docker-py.readthedocs.io/en/stable/containers.html#docker.mode

[2021-08-05 15:54] jsonar-cpapke opened #6173 "buildbot.net is inaccessible/down"
At least for me, buildbot.net (and docs.buildbot.net) are inaccessible. I have tried loading them both on a work and home network, as well as over cell data, but I am not able to access either of these sites.

[2021-08-06 03:41] levitte commented on #6173
Duplicate of #6161

[2021-08-06 21:22] gregorydlogan opened #6175 "Docker latent worker frequently throws errors on startup"
I have a set of latent docker workers, and they're frequently spitting out error like the following on startup:

[code]

Examples can be found on ci.opencast.org, c.f http://ci.opencast.org/#/builders/99/builds/1622.  This started happening when we upgrade out of the 2.3.x codebase into the 3.x.  At the time I also upgraded the Docker installs on the worker nodes, so it's quite possible that's con

[2021-08-07 13:30] tardyp commented on #6161
@verm can you please help?

[2021-08-07 13:30] tardyp commented on #6173
close as duplicate

[2021-08-07 13:30] #6173 closed

[2021-08-08 16:36] p2shree opened #6176 "buildbot.net website is down"
Hi,

The buildbot.net website is down. Due to this I don't have access to documentation, including how to install buildbot.
I need to install buildbot server on CentOS. I also need to install buildbot slave on Windows, CentOS, and FreeBSD. Where can I find installers for buildbot

~ shree

[2021-08-08 18:52] kordex0 commented on #6176
You can find the documentation at https://buildbot.readthedocs.io/en/latest/ while buildbot.net is down.

[2021-08-09 18:13] p12tic commented on #6176
This has now been fixed.

[2021-08-09 18:13] #6176 closed

[2021-08-10 11:28] krzk commented on #5193
I had the same issue. I fixed it up with code borrowed from buildrequestdistributor.py: https://github.com/krzk/tools/commit/463adf3494ff775c347f70aade1a23b688fc2878

[2021-08-17 18:33] gsnedders opened #6201 "Docs: Give examples of how configuration options can be composed for e.g. parallel builders"
Dustin gave a talk (presumably back in 2013) on [Coordinating Parallel Builds with Buildbot](https://releng.polymtl.ca/RELENG2013/html/slides/buildbot-talk/index.html).

This steps through various models of parallel test execution and how to implement them in 2013 Buildbot. At least as someone who (exceptionally infrequently) deals with Buildbot, I'd _love_ to see something similar to this (with t

[2021-08-17 22:24] #6127 closed

[2021-08-17 22:28] alex-nl opened #6202 "Build Step: Run ShellCommand if file exists, continue otherwise?"
Hi,

I have a script file that may or may not exist, depending what change is synced. If it exists I want to run it and extract a property, but if it doesn't, it's safe to continue without that property.

Currently I have a SetPropertyFromCommand step with haltOnFailure=False, but if the command file isn't found it's considered an exception not a failure, and so the build halts.

What would you su

[2021-08-17 22:41] alex-nl commented on #6202
Never mind! The exception was due to my extract_fn not handling the failure correctly (it was returning None instead of {} for a failed command, and that was throwing an exception). If the command file is missing, the build step fails rather than being Exceptional, as desired.

[2021-08-17 22:41] #6202 closed

[2021-08-19 05:06] flavius commented on #3000
This is a highly needed feature for the following use case:

You generate some reports (static analysis for example), you upload it to the master, but then you need to see them.

Currently we have the unnecessary workaround of serving from a third-party web server, which also means a different port, and since our setup is necessarily complicated, we also need an additional SSH tunnel to see those

[2021-08-30 16:27] aj062 opened #6209 "buildbot should set appropriate flags on cookies"
buildbot should set appropriate flags on cookies. e.g.: https://buildbot.buildbot.net sets cookie TWISTED_SESSION without the Secure or HTTPOnly flags.

Cookies that may contain sensitive information, such as session identifiers, should be set with appropriate cookie flags. Specifically, the Secure and HTTPOnly flags should be set on all sensitive cookies.

The HTTPOnly cookie flag instructs the w

[2021-08-30 16:28] aj062 commented on #6209
Seems like twisted does support this flags:
https://twistedmatrix.com/trac/ticket/3461
https://twistedmatrix.com/trac/ticket/6932

[2021-08-30 16:35] tardyp commented on #6209
Buildbot is http only. The responsible of the https security would be the ssl termination server.
Is it possible to implement this in your reverse proxy?

[2021-08-31 09:46] p12tic commented on #6209
@tardyp: This is about client-side security. Secure flag will force the browser to not send the cookie to http resources within https webpage. I think missing Secure flag wouldn't be a problem in default installation of Buildbot because it's either whole http or https, but if users customize it then we may have links to http resources under the same domain.

[2021-08-31 12:30] tardyp commented on #6209
I think that if we set the secure flag, then the cookie will only be working on https, so it will break http installs.

Actually we do have some code which change the cookie settings for https using session.isSecure()

https://github.com/buildbot/buildbot/blob/master/master/buildbot/www/service.py#L104

looks like isSecure() only works if setHost is correctly called.

[2021-09-05 00:46] p12tic commented on #3460
I think this bug was fixed in #3645. Closing

[2021-09-05 00:46] #3460 closed

[2021-09-05 00:57] p12tic commented on #2946
We've dropped Python 2.x for master long ago, closing the bug.

[2021-09-05 00:57] #2946 closed

[2021-09-05 01:13] p12tic commented on #2983
I don't think after 4 years anyone is still going to set up such IRC bot.

[2021-09-05 01:13] #2983 closed

[2021-09-05 02:23] p12tic commented on #2949
Test has been re-enabled since 8340b88e48616ac0ed49cd3587d63246f21ae54b and I don't remember seeing any failures.

[2021-09-05 02:23] #2949 closed

[2021-09-05 02:27] p12tic commented on #6170
Fixed now.

[2021-09-05 02:27] #6170 closed

[2021-09-05 02:28] p12tic commented on #6171
Fixed now.

[2021-09-05 02:28] #6171 closed

[2021-09-05 02:33] p12tic commented on #5209
This has been fixed in c6d3163a77198694ec424d777a7109435a8d02d6 that landed in v3.0.1.

[2021-09-05 02:33] #5209 closed

[2021-09-05 02:36] p12tic commented on #5464
This bug has likely been fixed in #5798. Please reopen or maybe create a separate bug if any error like this repeats.

[2021-09-05 02:36] #5464 closed

[2021-09-05 02:39] p12tic commented on #5017
This has been fixed in #6058 and in a some previous updating the documentation.

[2021-09-05 02:39] #5017 closed

[2021-09-05 02:40] p12tic commented on #4889
I think the question has been answered, closing the bug.

[2021-09-05 02:40] #4889 closed

[2021-09-05 02:48] #4035 closed

[2021-09-05 02:51] p12tic commented on #3646
Fixed in 7336e78a659007b68d6c9c703566d056863ed7f4, which landed to v3.2.0.

[2021-09-05 02:51] #3646 closed

[2021-09-05 02:53] p12tic commented on #4068
If the issue is stuck process, this has been fixed in db93fb275189ee63a7f1017f17846d01d1ad95a8 which landed to Buildbot 3.2.0.

[2021-09-05 02:53] #4068 closed

[2021-09-05 03:00] p12tic commented on #4231
This feature request has been addressed in #6075.

[2021-09-05 03:00] #4231 closed

[2021-09-05 03:02] p12tic commented on #4647
I'm afraid we're not going to fix this issue. As a workaround, an image could be built and pushed to a private image registry if needed.

[2021-09-05 03:02] #4647 closed

[2021-09-05 03:06] p12tic commented on #4102
The scope of this bug is outside of buildbot, so I'm closing it.

[2021-09-05 03:06] #4102 closed

[2021-09-05 03:08] p12tic commented on #3023
Support for hyper has been removed long ago. Closing the issue.

[2021-09-05 03:08] #3023 closed

[2021-09-05 03:11] p12tic commented on #4867
Seems to be addressed as of now (see https://docs.buildbot.net/3.3.0/manual/configuration/reporters/http_status.html). Closing the bug.

[2021-09-05 03:11] #4867 closed

[2021-09-05 03:17] p12tic commented on #2843
I think this bug has been addressed: there's now a build stop API in the data layer and build steps don't run more commands once stopped (see #5801). Therefore I'm closing the bug.

[2021-09-05 03:17] #2843 closed

[2021-09-05 03:23] p12tic commented on #3281
This has been addressed in db93fb275189ee63a7f1017f17846d01d1ad95a8 which has been released in v3.2.0.

[2021-09-05 03:23] #3281 closed

[2021-09-07 09:51] rjarry opened #6222 "Cannot install with setuptools 58"
[Setuptools 58.0.0 removes the support for 2to3](https://setuptools.readthedocs.io/en/latest/history.html#v58-0-0) which breaks the installation of [Tempita](https://pypi.org/project/Tempita/) (dependency of [sqlalchemy-migrate](https://pypi.org/project/sqlalchemy-migrate/)).

This leads to a semi-silent installation error:

[code]

[Tempita is a dead project. Last commit activity dates from 2013.

[2021-09-07 10:24] rjarry commented on #6222
Here is an exact reproducer on debian stable:

[code]

[2021-09-07 19:08] p12tic commented on #6048
Fixed now.

[2021-09-07 19:08] #6048 closed

[2021-09-07 22:40] sebbASF opened #6225 "Syntax error in authz example"
https://github.com/buildbot/buildbot/blob/e49c2f958618e0d8ba774801fb701260c686b045/master/docs/manual/configuration/reporters/irc.rst#L62

The auth value should be enclosed in {} not ()

[2021-09-08 00:24] aj062 commented on #4327
@rjarry, @tardyp, @p12tic is it possible to integrate these script in buildbot in some manner or in some Janitor?

[2021-09-08 09:03] p12tic commented on #6225
Thanks, this should be fixed in https://github.com/buildbot/buildbot/pull/6227.

[2021-09-08 09:28] #6225 closed

[2021-09-08 14:32] aj062 commented on #4327
@rjarry instead of the BEGIN.. COMMIT block, is it safe to execute each of the DELETE, UPDATE statements one by one subsequently? Or would deleting old data from one table, but not from others can lead to some kind of issue?

I have an extremely huge database, and it might take extremely long (impractical) time to run the complete script in one go.

[2021-09-08 14:41] rjarry commented on #4327
@aj062 this is important that all these statements are executed in a single database transaction to avoid consistency errors.

With mysql and postgresql, this can be done without any downtime. Your buildbot master can continue running builds even if the operation takes a long time.

What database engine are you using?

[2021-09-08 14:45] rjarry commented on #4327
I had completely forgotten about this. I still have a local branch with some work in progress to include additional cleanup options in the janitor. I will try to dust it off and see if it can be salvaged.

[2021-09-08 15:39] aj062 commented on #4327
postgresql

[2021-09-08 20:56] zplizzi opened #6228 "Add a Slack Reporter"
It would be great to be able to have a Reporter that sends test results to a Slack channel. This is available in other CI tools, eg Travis: https://docs.travis-ci.com/user/notifications/#configuring-slack-notifications.

There's a third-party plugin on Github, [`buildbot-slack`](https://github.com/rockwelln/buildbot-slack/issues/14), that perhaps it could be based on, whose authors suggested they

[2021-09-09 09:26] #5872 closed

[2021-09-09 09:26] #6222 closed

[2021-09-09 11:36] vstinner opened #6229 "pip fails to install buildbot-www with latest setuptools: error in Tempita setup command: use_2to3 is invalid."
Example:

[code]

Error:

[code]

buildbot-www depends on sqlalchemy-migrate which depends on Tempita.

I reported the issue sqlalchemy-migrate: https://bugs.launchpad.net/sqlalchemy-migrate/+bug/1943127

I created this issue to raise awareness of users about this setuptools/Tempita issue.

[2021-09-09 11:45] vstinner commented on #6229
Workaround: block setuptools 58 and newer.

Example: https://github.com/python/buildmaster-config/commit/73a70b5e0a94d4c94e518c5d1f9b02f691b23e3d

[2021-09-09 13:03] vstinner commented on #6229
Fixed by https://github.com/buildbot/buildbot/pull/6224 Great!

[2021-09-09 13:03] #6229 closed

[2021-09-09 14:59] LuluDavid commented on #5943
Have exactly the same error here, but it works again if I downgrade Twisted to 20.3.0.
Seems that it could come from [this issue on Twisted](https://github.com/matrix-org/synapse/issues/6211) that led to the migration from 20.3.0 to 21.2.0.

[2021-09-09 16:03] p12tic commented on #4473
Looks like we can close this issue. If you still have problems connecting 0.7 worker, please let us know about the information of the exception you're seeing.

[2021-09-09 16:03] #4473 closed

[2021-09-12 21:25] YngveNPettersen commented on #4678
We just had another case like this on our (now) 3.3.0 cluster,

This case is odd.

According to the log one of the workers started reconnecting (probably due to a network hickup causing the connection to be lost).

The manager determined that it had lost the connection to the other end, and allowed the new connection, and connected the worker to the associated builders

However: The connection ico

[2021-09-15 01:55] hadleyrich commented on #5943
Ditto

[2021-09-16 21:55] vadini-agrawal commented on #3457
Taking a look at where this might be happening, does it sound right that it's happening because of this line? https://github.com/buildbot/buildbot/blob/d5616a3b9fa17108b767c32806ca916923094835/master/buildbot/statistics/capture.py#L286
Either this could be solved by setting the min duration to 0, or by getting different start/end time values somewhere else?

[2021-09-17 08:03] #5903 closed

[2021-09-22 23:20] alex-nl opened #6241 "How to "fix" Console View UI for builds not tied to change source?"
Hi folks!

I'm experimenting with a feature to test code before it's submitted to our mainline branch (for example through shelving a CL in Perforce, or through committing code to a git branch that is not mainline). I've created a force scheduler where you pass in the Shelved CL # / Git Branch, and configured a builder that will build/test that code.

The problem I'm having is that these builds do

[2021-09-23 04:54] #5000 closed

[2021-09-25 20:09] aproskuryakov commented on #6209
Perhaps this issue should track adding the non-controversial `HTTPOnly` flag? As you said, it makes sense to add `Secure` where TLS is handled.

[2021-09-30 02:30] dave-c-vt commented on #5099
bump.

[2021-09-30 12:29] tardyp commented on #5099
Hi,
this error happen when the step name is too long.

You may want to reduce it.

In order to fix this we could change the name type to text instead of VARCHAR(XXX)

[2021-09-30 13:45] dave-c-vt commented on #5099
thanks!

i found that when i set the column type as LargeBinary, it was getting truncated to blob when i performed a migration on the mysql, db.

i was able to fix the issue by specifying the length of the LargeBinary column like

`report = db.Column(db.LargeBinary(length=(2**32)-1))`

[2021-10-05 16:23] arbor-bdoyle opened #6251 "Only a single build request is considered for scheduling if nextWorker returns None"
We're utilizing a custom nextWorker function in order to assign each build to a unique hardware resource that tests are run against. We have several pools of these with different configurations, and the pool to pull a resource from is selected based on the build request properties. Since a given resource can only be utilized by a single build's worth of tests at a time, sometimes a build request w

[2021-10-05 16:41] tardyp commented on #6251
I agree that the code looks weird, with a loop that is only meant to be run once.

I can see that even if we would continue, _getNextUnclaimedBuildRequest() will any return the same buildrequest so we would retry forever the same buildrequest, unless nextBuild is smarter that it needs and account that the build was just chosen and couldn't be assigned a worker.

I think the whole API design is fla

[2021-10-05 19:38] uglycoyote commented on #4018
This issue continues to vex us in various ways.   If we wanted to investigate enhancing the websocket API to allow additional properties to be sent with the updates, can you give us some pointers as to where that might happen in the code?

[2021-10-05 20:12] uglycoyote commented on #4018
From a peek at the code, it looks like the `WsProtocol` in `ws.py` has a `cmd_startconsuming` which calls  `self.master.mq.startConsuming`, which I assume is tied in to the `WampMQ.startConsuming` implementation?

So I assume it would come down to having the things which call `self.master.mq.produce` add the extra properties to events, such as builds.py

[2021-10-05 20:15] tardyp commented on #4018
graphql api already supports fetching additional properties in the event mecanism.
Adding properties to build event would consume a lot of network and memory bandwith.

There is a build event for every build status update. putting properties inside it will increase the size of event by one or two order of magnitude.

[2021-10-05 20:58] uglycoyote commented on #4018
There's really only one property that we are usually interested in, which is the `revision` property.  Adding that property to each build record sent over websocket would increase the size of the record form ~275 bytes to ~300, bytes or a 10% increase in traffic on those requests.    Furthermore we don't really need it on every build status update, only on the first time where a build is introduce

[2021-10-06 07:22] tardyp commented on #4018
That is indeed the usual usecase, a typical web view only requires a couple of properties.
but the build event is generated deep inside the buildbot core.
We cannot just insert the revision property. Other views may require owner property, etc.

This is why graphql is so useful, you can just request the property that you need.

There is no test for this in https://github.com/buildbot/buildbot/blob

[2021-10-06 13:15] arbor-bdoyle commented on #6251
I'm pretty new to buildbot internals so I might need a while to figure out how all these parts fit together, but I'm willing to work on it.

For my use case, I think I would want to write a `prioritizeBuilds` in such a way that each next popped build will end up needing a different worker? It seems like it could be fairly easy to write a function that accidentally stalls the queue if the worker se

[2021-10-06 15:40] arbor-bdoyle commented on #6251
One potential issue with my imagined fix: I cannot maintain the constraint described in the docstring of only calling `nextWorker` once for each worker, it would have to be once per worker per build request. Is this constraint actually necessary? It seems like it made more sense prior to being able to look at the build request (54300b557).

[2021-10-06 16:50] uglycoyote commented on #4018
When requesting properties over the REST API, the view must explicitly request the properties that it wants, e.g

```api/v2/builds?limit=5000&order=-started_at&property=revision```

What I would propose is that it should be possible to to subscribe to websocket events in the same way, where each subscriber subscribes to the information they need, and the server knows what scope of information to s

[2021-10-06 19:06] tardyp commented on #4018
I have been indeed working on graphql support as an api v3 for a while.
I linked on a few graphql example queries here:
https://github.com/buildbot/buildbot/blob/master/master/buildbot/test/integration/test_graphql_queries.yaml

The server side is mostly done, but indeed the client side has to be written. I've written some todo tasks here:
https://github.com/buildbot/buildbot/projects/5
The event

[2021-10-07 21:55] alex-nl opened #6259 "Nightly scheduler builds have unexpected source stamps when more than 24 hours have passed since last change"
Not sure if this is a bug or if there's some configuration change I can make.

We have build triggered by submissions to a repository, and those have source stamps with non-empty Project and Revision fields. We have a nightly scheduler that triggers the same build, and it's often the case that we go many days without submitting a new change to this repository. In this case, the nightly scheduler w

[2021-10-09 12:28] tardyp commented on #4018
With this topic, I realized I did not push my property over graphql changes yet.
I finished it today. You can see some example of how you can subscribe to specific properties here:
https://github.com/buildbot/buildbot/pull/6260/files#diff-78e75d2fa2732f4eeb4a9ddf9ae2095446bfbba6732582ffdd0f1ff691b33417R155

about subscription, indeed, graphql has subscription already defined, which avoids us to in

[2021-10-10 00:37] uglycoyote commented on #4018
Thanks!  that looks promising!

[2021-10-12 23:20] alex-nl commented on #6259
I certainly believe it's a bug. I don't understand the role of the codebases dict inside the timed schedulers, but this could be fixed if we augmented those schedulers with storage of the full details of last change they built, rather than relying on only the codebases dict.

[2021-10-13 09:37] Gugli opened #6262 "MsBuild141 failure"
When using the MsBuild141 buildstep, it always fails with :

[code]
An unmatched double quote has been introduced in the command string by 7fb40b52529a52cd19220fd3d40ed6cd2df8eb5b.

[2021-10-13 15:42] aliceinwire opened #6264 "problem displaying logs on browser with buildbot 3.3.1-dev109"
We have problem displaying logs in the browser
https://gkernelci.gentoo.org/#/builders

[2021-10-14 11:07] #6262 closed, assigned to nobody

[2021-10-14 21:10] p12tic commented on #6264
Confirmed on latest master, thanks.

[2021-10-14 23:56] alex-nl commented on #6259
It looks like NightlyTriggerable tracks the important state that's required to trigger an identical build to last time.
https://github.com/buildbot/buildbot/blob/414312bf410e232d239c9e9b0cfe0eb0042c58ee/master/buildbot/schedulers/timed.py#L433

I suppose this common logic could be refactored and used by both the Nightly and Periodic schedulers, but I wonder if changing their default behaviour away

[2021-10-15 10:02] #6264 closed, assigned to nobody

[2021-10-15 15:03] Gugli commented on #5698
Additionally : I reproduce these exceptions multiple times a day, and it's easy for me to test any patch, or log anything in my instance, but I'm not familiar enough with python and buildbot to solve that bug alone.

[2021-10-16 09:50] p12tic commented on #5698
The new log message has much more information. @Gugli could you try https://github.com/buildbot/buildbot/pull/6274 ? Thanks!

[2021-10-16 10:07] p12tic commented on #5698
@senyai: Addressed in #6275.

[2021-10-16 14:31] Gugli commented on #5698
I've updated vstudio.py on the master, restarted buildbot, and I tried to restart a dozen of varied builds. So far no error.

I'll keep the new code running, and I'll keep you informed if the error comes back during the week (I'll have more "natural-looking" builds during weekdays). But to me it seems the bug is fixed :)

Thanks for the quick fix !

[2021-10-21 12:20] p12tic commented on #6251
We don't care about docstrings, the public interface is the documentation. I don't see anything related to the number of times the function is called, so from that regard the constraint is not important.

Agreed.

[2021-10-30 16:06] rpurdie opened #6285 "prioritizeBuilders not functioning well"
Yocto Project implemented a prioritizeBuilders function roughly as per an example tardyp was kind enough to share:
https://gist.github.com/tardyp/f5ba4591f1c65b5d823ef5ba1dc3f399

Unfortunately in daily use, this is not doing what it should. It has taken us a while to track down the issue but basically if the system just has one builder running which then through a sched.Triggerable triggers a set

[2021-11-03 04:52] JohnAZoidberg commented on #2864
Hmm seems there's still no way to do this?

[2021-11-03 18:23] tardyp commented on #2864
You could have a custom steps in the end which would decide according to previous results if we need to retry, and then change its status as retry to change the whole build status as retry

[2021-11-05 01:56] karolyi commented on #5910
+1 here, FreeBSD started to have this issue too.

[2021-11-05 10:38] p12tic commented on #5910
This bug has been properly fixed in #6156 and released in Buildbot v3.3.0.

[2021-11-13 19:15] pmisik opened #6294 "Windows: Worker service regression in 3.4.0"
Hi,

I just tried to upgrade quite old worker running on 2.3 to latest one 3.4.0.
Upgrade were done on Python 3.7 x86

Observed problem:
After installation of buildbot-worker there is missing `buildbot_worker_windows_service.exe` in `sandbox\Scripts` folder.
Tried to downgrade to previous version and it 3.3.0 works well.

It looks like some issue introduced in 3.4.0 release (or some dependent pack

[2021-11-22 09:46] kanavin opened #6298 "sched.Nightly: should be possible to specify weeks by their number"
The use case: we (Yocto project) would like to run a scheduled job every other Sunday (e.g. every 14 days), but with current code this does not seem to be possible. This however would be elegantly solved with something like:
[code]

[2021-11-22 11:30] PhilippSelenium opened #6299 "Scope definition for gitlab oauth access"
For newer gitlab installs one can configure the scope access https://docs.gitlab.com/ee/api/oauth2.html to api, read_api, read_user

I tried to 'hack' it in overwriting: https://github.com/buildbot/buildbot/blob/master/master/buildbot/www/oauth2.py#L80 like already done for Github https://github.com/buildbot/buildbot/blob/master/master/buildbot/www/oauth2.py#L200
[code]
but this leads to an error:

[2021-11-28 16:53] bschatt opened #6300 "p4poller: ticket_login_interval is not used anymore"
This variable doesn't seem to be used anymore. Could be due to the changes I did a while ago. I'll fix it anyway.
https://github.com/buildbot/buildbot/blob/d223b0d8442dd73d054e85694684c92292c37af8/master/buildbot/changes/p4poller.py#L126

[2021-12-03 08:15] Try2Code opened #6303 "Handing of SetPropertyFromCommand results"
hi!

I want to let builders create a list tasks and create corresponding steps from it. For that I use
[code]
The content of the variable EXP_LIST on the worker is a simple string. Now I want to perform string operations on that string (like `split()`), but it does not work on explist directly. I know I have to perform some _rendering_ or _transformation_, but I cannot figure out from the document

[2021-12-06 13:52] Try2Code commented on #6303
Or let's rephrase it:
Is there **any** way to create steps dynamically by the worker based on let's say the compile-procedure done by a specific builder?
I was reading through the docu about RemoteCommand, Master-Worker-API or even transferring files but nothing works so far ...

[2021-12-07 13:49] vibbo opened #6307 "RebuildBuildEndpointMatcher ignores builder filtering"
Hi, am I mistaken or is the **builder** completely ignored in **RebuildBuildEndpointMatcher** ?
This seems to make any RebuildBuildEndpointMatcher to be applied to all builders.

https://github.com/buildbot/buildbot/blob/414312bf410e232d239c9e9b0cfe0eb0042c58ee/master/buildbot/www/authz/endpointmatchers.py#L172-L181

[2021-12-09 22:01] vibbo commented on #6303
Hi, just another Buildbot user here.

I am not sure if I fully understand your issue, so correct me if I am wrong. But I think you want to achieve the following:
* Execute first step on worker and obtain your tasks as string into property EXP_LIST.
* Based on parsing those tasks from property EXP_LIST, you want to execute additional steps (that those tasks represent)?

If so, I believe the easiest

[2021-12-10 09:08] Try2Code commented on #6303
hi - thx a lot for taking your time to look into it!

With your setup the different tests will be executed and logged into the same stdio stream. In my software I have 20-30 tests, each with 1k-50k output. In a single stdio stream there is no chance to keep the overview. moreover these tests run in parallel.

My current solution is to use the 'logfiles' argument of the corresponding shell commend

[2021-12-10 18:05] Try2Code commented on #6303
Do you now how to correctly overwrite/extend the ShellCommand.run() methods. At the end of my new run() methods I should call the one from the master class, but I don't know how to do it

have good weekend!

[2021-12-10 21:32] vibbo commented on #6303
It's much more clear to me now, what you want to do.

**My preferred method**
If you have any control over your test output(s), you can generate a summary to stdout stream. It can even be color-coded to highlight failing/passing tests. Then you will know which test failed and examine the correct logfile.

This is sort of how I do it. I have a python executor script that runs my tests and it genera

[2021-12-13 15:29] Try2Code commented on #6303
Yes, I also generate a summary for the tests. Otherwise developers would be lost in the logs

That's what I currently use: submit the jobscripts into the queuing system with a certain logfile naming convention and let buildbot display each of them in an individual web box. What I want is to have each experiment run as a step so that I can skip the summary since the return value of each jobscript d

[2021-12-15 18:52] acidtonic opened #6311 "Random hangs in build scripts on Windows (only if buildbot runs them)"
I am logging this as a last chance effort to save the weeks I put into setting up a buildbot farm to do CI testing of the software my team is developing.

Seems like no matter what I do scripts that work totally fine when *I* run them, hang in various places and simply seem to be sitting there doing nothing...

For instance, linking a tests exe that takes about 10 seconds, will just pause and sit

[2021-12-16 00:41] vibbo commented on #6311
Hi.

Does the worker has any time sync when you start it? I have experienced something similar on VMware VMs. It happens when time on the worker machine is synchronizes (updated) during the build (or rather any time after the Buildbot worker service has been started). When the build hangs, examine timestamps in worker's twisted log to see if there is a mismatch with real time.

I resolved it by ru

[2021-12-16 01:08] acidtonic commented on #6311
I'll check the clock sync and report back, seems to be when linking. When I forcefully shut off the VM (since I'd expect the step timeout of 1200 to have killed it before 3 hours elapsed) I did get this stack trace on the web console from buildbot.

[code]

[2021-12-16 01:28] acidtonic commented on #6311
I checked clocks and it looks like clock sync service was delayed_start so if running long enough I'd venture to guess you were correct about the clock sync triggering at a later point.

I added w32tm /resync to the beginning of the script in scheduled task to run on startup after switching the time service to be automatic start. I just fired a build and watched the clock jump before buildbot star

[2021-12-17 19:10] acidtonic commented on #6311
Turned out to be the case. I adjusted clocks on the various systems and all the weird hangs went away. I'd still personally attempt to fix that condition if it was my codebase, clock timing shouldn't be that big of an impact but if it is perhaps buildbot should sync clocks within it's own protocol maybe?

Anyways I'm happy and back to setting up the rest of my build farm now that it's completing b

[2021-12-25 17:11] jain-aakash opened #6315 "buildbot checkconfig should fail for old style steps in buildbot 3"
buildbot 3 doesn't seems to support old style build steps. However 'buildbot checkconfig' doesn't warn/fail for old style steps. It happily says: "Config file is good!" even with completely broken configuration containing old style steps.

This fails the basic purpose of checkconfig. checkconfig should tell about such issues.

[2021-12-26 15:02] tardyp commented on #6315
Hi,

old style steps where deprecated in buildbot 2, and not supported in buildbot 3.
As even the detection of such steps incur some non trivial maintainance of code and tests, we removed all support in buildbot 3.
Some kind of old style step may work on buildbot 3. we don't know as it is not tested anymore.

[2021-12-26 15:02] #6315 closed

[2021-12-31 01:18] RemiZOffAlex opened #6317 "HttpStatusPush send empty body"
buildbot/3.4.0

code

[code]

HTTP server

[code]
...it is end

Content-Length: 0
HTTP Body not exist

[2022-01-03 13:08] p12tic commented on #5225
@0x8000-0000 This has been implemented as FailingBuildsetCanceller service in Buildbot 3.3.0.

[2022-01-03 13:08] #5225 closed

[2022-01-03 13:17] p12tic commented on #4821
This may have been fixed by c3fc07a86646fb6799f7edadf654943443641957 which landed to 3.0.0.

[2022-01-03 16:46] p12tic commented on #6311
@acidtonic Thanks for filling the issue. I think the issue should stay open because buildbot should support small clock changes.

[2022-01-03 22:56] #6140 closed

[2022-01-04 01:55] 0x8000-0000 commented on #5225
Thank you @p12tic !

[2022-01-07 19:04] p12tic commented on #4808
@bog-dan-ro Turns out Buildbot supports this feature and has supported for years, at least since 0.9.x.

The volumes argument is renderable which means you can pass the following to it:

`Interpolate(/cache/projects/%(prop:name)s:/home/buildbot/project)`

and it will work like you would expect.

In more complex cases you can pass a renderer function and run arbitrary code that depends on exact bui

[2022-01-07 19:04] #4808 closed

[2022-01-08 15:30] abma opened #6324 "worker workername cannot attach: builtins.AssertionError:"
we have the problem, that a worker cannot connect:

2022-01-07 17:45:14+0100 [Broker,215,54.37.56.77] worker 'workername' attaching from IPv4Address(type='TCP', host='someip', port=31427)
2022-01-07 17:45:14+0100 [Broker,215,54.37.56.77] Got workerinfo from 'workername'
2022-01-07 17:45:14+0100 [Broker,215,54.37.56.77] worker workername cannot attach
        Traceback (most recent call last):

[2022-01-08 15:32] abma commented on #6324
logs related at least: #4678

[2022-01-08 15:43] abma commented on #6324
also one offline worker was always shown as online.

i've renamed it from workername to workername2 and now it seems to be offline as expected.

[2022-01-14 09:02] akselsjogren opened #6334 "Using renderables for BuildStep alwaysRun doesn't work"
The `BuildStep` class suggests that the `alwaysRun` argument is renderable (https://github.com/buildbot/buildbot/blob/b9c558217c72e4c2463eedc7ec6d56736f7b01a8/master/buildbot/process/buildstep.py#L181)

But when doing something like this, the step would always run, even though the renderable `always_run_step` returns `False`.
[code]

[2022-01-17 10:30] tomga opened #6337 "buildbot_worker 3.4.0 doesn't install buildbot_worker_windows_service.exe anymore on windows"
In version 3.3.0 it is installed in `<pythondir>/Scripts`.

[2022-01-17 15:17] #6337 closed

[2022-01-20 12:00] bickerx2 opened #6339 "buildbot dataspec and graphql-schema commands requires tests"
The commands "buildbot graphql-schema" and "buildbot dataspec" seem to require buildbot tests to be installed which are not available when installing via pip.

Steps to reproduce:
1. Create VirtualEnv
2. From the virtualenv pip run "install buildbot buildbot-www buildbot-waterfall-view buildbot-grid-view buildbot-console-view"
3. Run "buildbot graphql-schema" or "buildbot dataspec"

Get an error f

[2022-01-20 17:20] jain-aakash opened #6341 "buildbot reconfig failed with error: maximum recursion depth exceeded"
buildbot reconfig failed with error: maximum recursion depth exceeded. This was for a very simple config change ([eb14e0ccb41](https://github.com/WebKit/WebKit/commit/eb14e0ccb41)).

Buildbot version: 2.10.5
Python version: 3.6.8
Twisted version: 21.2.0

Logs:
[code]

[2022-01-24 16:38] sjalloq commented on #4153
Hi, what's the status with this bug. Is anyone actively looking at it?

I see that @p12tic has done quite a bit of refactoring since the original issues was reported by @veloutin but this bug still exists.  @p12tic , how are you using this module if this bug remains?  I might be missing something.

[2022-01-28 13:12] jain-aakash commented on #6209
Agree with @aproskuryakov that buildbot should add HTTPOnly flag.

Also, the only cookie I noticed is `TWISTED_SESSION`. Does Buildbot / Twisted set any other cookie as well apart from `TWISTED_SESSION`?

[2022-01-31 18:09] p12tic commented on #5988
Thanks for the bug report, this issue has been fixed in #6344.

[2022-01-31 19:24] #5988 closed

[2022-02-02 17:01] p12tic commented on #6341
Thanks for the bug report.

Unfortunately in this case there is nothing we can do because the logs offer too little information. I guess the root cause is that there was a cyclic dependency between multiple service configuration (one service had another as an attribute and vice-versa). The stack trace indicates that this is related to either `WorkerManager`, `SchedulerManager` or `ChangeManager`.

[2022-02-02 17:01] #6341 closed

[2022-02-02 17:05] #6307 closed

[2022-02-03 17:07] sjalloq commented on #4153
@tardyp is this something you have any visibility of or has it just dropped off the radar?  I've been trying to get it working from behind a proxy but the Twisted ProxyAgent class doesn't seem to work or I don't know how to drive it.  Curl, wget, Python requests all work without issue.  If someone can provide some pointers I'd be happy to have a look at fixing this.

[2022-02-03 17:56] jerrylogansquare commented on #4153
@sjalloq    from what I can tell, buildbot is no longer being actively maintained.  You can only fork and fix at this point I think.

[2022-02-03 18:40] sjalloq commented on #4153
@jerrylogansquare ouch, ok, then it might be easier to move to something else.

[2022-02-03 20:30] p12tic commented on #4153
I personally don't use Bitbucket, so like in any open source project the support for less popular features like Bitbucket depends on whether anyone has time to submit at least a test pull request. So far there has been none, so it seems that proper Bitbucket support upstream is not really needed by anyone.

[2022-02-03 20:32] p12tic commented on #4153
@sjalloq

I personally don't use Bitbucket, so like in any open source project the support for less popular features like Bitbucket depends on whether anyone has time to submit at least a test pull request. So far there has been none, so it seems that proper Bitbucket support upstream is not really needed by anyone. If someone could add a failing test case and fix it with needed code changes that

[2022-02-03 20:44] p12tic commented on #5844
This bug is a duplicate of https://github.com/buildbot/buildbot/issues/6140 which has been fixed in #6321.

[2022-02-03 20:44] #5844 closed

[2022-02-04 20:22] sjalloq commented on #4153
@p12tic

I've had a look at the unit tests and they all seem to monkey patch `client.getPage` which is why no failures have been seen.  What's the solution here?  To just update the fake client.getPage?

Moving forward, I also need to update the class to accept a proxy.  Do any of the available http classes use the http[s]_proxy environment variables?  Twisted seems to want you to use ProxyAgent w

[2022-02-05 10:27] p12tic commented on #4153
@sjalloq

Yes, the intention is that we have a set of known good data to test against. As a result we don't use network when running tests. On the bad side, we can't detect when upstream API changes.

If currently the only problem is what's listed in https://github.com/buildbot/buildbot/issues/4153#issuecomment-401697608 , then the best course of action is this:

 - you apply the fix on your build

[2022-02-05 13:58] sjalloq commented on #4153
@p12tic

That all sounds amazing, thanks.  I'll test what I have first thing on Monday.  As a side note, we're already using the GitPoller which seem to work with our proxy so however that is implemented could be copied I guess.

[2022-02-06 12:10] pmisik commented on #6294
It looks like given changes does not work with wheel packaging as
there is missing filed `buildbot_worker_windows_service = buildbot_worker.scripts.windows_service:HandleCommandLine`
in `[console_scripts]` section.

[2022-02-07 13:34] sjalloq commented on #4153
@p12tic Finally got there.  PR created.  It seems to be working on my local dev machine.  I'll try it in our cluster with the proxy next.  I did notice that client.getPage already calls httpclientservice.

[2022-02-08 18:47] #4153 closed

[2022-02-11 00:14] dimavs opened #6377 "extra_args property is not renderable in Svn step"
It would be nice to add "extra_args" property to renderables. May be some other properties too (like method, mode, etc)?
https://github.com/buildbot/buildbot/blob/9c20ee9f57e4e3deda6abe479a4b3f2e8f5c6c7d/master/buildbot/steps/source/svn.py#L41

[2022-02-13 09:46] dimavs opened #6402 "CodebaseParameter multichoice bug"
My codebase parameter looks like:

[code]

There is an SQL exception with multiple projects selected:
[code]

[2022-02-14 08:14] tardyp commented on #6402
Well, it is not a bug if it is not documented that you can provide a list of projects in a sourcestamp...
It is just a feature that is yet to be implemented. ;)

In order to make that a feature, probably we need a bit more information about your actual usecase.

What do you want buildbot to do when several projects are selected?

Maybe you want to create multiple sourcestamps?

[2022-02-14 09:17] dimavs commented on #6402
That's a good question :-). From my point of view sourcestamp it's just a repository and revision. It doesn't matter which project we are building (but I may be wrong). I haven't looked at the buildbot source code and full architecture yet (python is not my first language :-) ).
My use case is quite simple: one repository; you can build multiple projects from it; forced or nightly schedulers. So,

[2022-02-14 12:06] tardyp commented on #6402
So you have a monorepo.

The sourcestamp is the triplet project/repository/revision. So you indeed need several sourcestamps if you want to have a buildset with several project

I would personally create one builder per project if possible this makes it easier to see the trend per projects.
again it really depends on the details of your project

[2022-02-15 23:14] dimavs commented on #6402
Yes, you are right. One builder per project is a better solution. Thanks!

[2022-02-15 23:14] #6402 closed

[2022-02-17 22:29] iomartin opened #6405 "Docker latent worker stuck at worker_preparation when followStartupLogs is used"
We recently added a Docker latent worker to our buildbot and it works mostly fine, except that if we use `followStartupLogs=True` and if there are queued builds when the current build finishes, the next one will get stuck at "worker_preparation". If there are no queued builds when it finishes or if `followStartupLogs` is False, then the next time a new build comes up, it runs fine.

We noticed tha

[2022-02-17 22:30] iomartin commented on #6405
https://github.com/buildbot/buildbot/pull/6344 might be related, but since that is not on a release tag yet, we haven't tried it

[2022-02-21 14:37] sjalloq commented on #6228
We just use the `extraRecipients` field of the `MailNotifier` class.

[code]

[2022-02-21 20:44] sjalloq opened #6416 "How to trigger change source with Git tag?"
We're using the `GitPoller` change source and I'm trying to trigger a build using a tag.  However, it looks like you can only get the poller to monitor tags *or* branches and not both.  And given you can't have two `GitPoller`'s monitoring the same repo, it seems impossible to get both commits and tags from one repo.

The use case I have is that I want to use tags to kick off a release flow.

[2022-02-22 11:34] jmlms opened #6417 "Manual section "Populating Build Secrets" has syntax errors"
There are two missing or falsely placed brackets in the affected [section](https://docs.buildbot.net/latest/manual/secretsmanagement.html#how-to-populate-secrets-in-a-build). I am working on a pull request.

[2022-02-22 12:49] sjalloq commented on #6416
So after lots of `log.msg()` debugging I finally read the relevant part of the user guide and realised that the `branches` argument of `changes.GitPoller` can be a callable.  So to get branch and tag changes I'm using the following;

[code]

The `buildPushesWithNoCommits` is needed for tags that have no changes associated with them.

Secondly, the flow I was trying to construct where a tag in one

[2022-02-22 12:49] #6416 closed

[2022-02-22 14:54] jmlms commented on #6417
See pull request #6418

[2022-02-23 16:23] jmlms commented on #6417
Pull request got accepted

[2022-02-24 12:18] antyung88 commented on #5910
I think FreeBSD is having this issue again

[2022-02-24 12:31] karolyi commented on #5910
The bug on the FreeBSD issue tracker seems to have a solution for this, read there:

https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=259599

[2022-02-25 08:32] JanezCim commented on #2876
+1 Thank you for explaining. Is a clear code example available somewhere yet?

[2022-02-25 08:41] rakanalh opened #6419 "[Question] Report each build step to github"
Hello,

I was wondering if it's possible for the Github reporter to report the result of each step back to Github for their UI to display? If that's not currently implemented, would it be possible to implement this? If so, some pointers would be appreciated.

Thanks

[2022-02-28 11:11] liggxibbler opened #6431 "Gitpoller - permission denied"
Our buildbot master works, and we can call git commands locally using bash on a SSH authenticated remote repository. However, buildbot's GitPoller fails to call the same git commands, returning the error message "Error: Permission denied (publickey)". The used identity is in ~/.ssh/id_rsa and has the right permissions. Are there any steps in configuring the poller that we may have missed?

[2022-02-28 16:24] #6431 closed

[2022-03-02 13:11] Swansky commented on #5943
Hi, this problem is always present.
The downgrade from twisted to 20.3.0 was working for the office365 smtp server until microsoft removed the TLS 1.0, 1.1 support for TLS1.2. Today I am facing a critical deadlock where sending mail does not work anymore. I have tried all recent twisted packages (from 20.3.0) none of them fixes the problem. Disabling 'useTls' for 'useSmtps' does not change anythin

[2022-03-06 02:14] p12tic commented on #6419
@rakanalh I imagine you would like to see something like this: https://github.com/buildbot/buildbot/pull/6438/checks ? This would be possible with the current reporter architecture. We would need a new reporter class (see `master/buildbot/reporters` for examples).

The way I would go investigate this would be to play with the MailNotifier and see what data it can put in an email. Once there's unde

[2022-03-06 10:37] p12tic commented on #5338
This happens because Buildbot does not know that MySQL is case insensitive and tries to create new property name that only differs by case. We should upgrade the DB schema on MySQL to specify case sensitive collation.

[2022-03-08 12:10] floriandorre opened #6448 "Possibility to ignore length check of build step name"
Hi,

The version 3.5.0 introduces a check of the length of a buildstep to avoid error when inserting the value in the database. In our case we manually increase the limit of this db field to be able to write the build step name (most of our buildstep names are dynamically created so we don't know in advance the length of it).

Would it be possible to add an attribute that avoids to do this checkin

[2022-03-09 03:43] eduardonunesp opened #6449 "[Question] Possibility to get the Github Webhook event property"
Is it possible to get some webhook data from the Webhook from Github and pass to the factory.Step, in case my workflow need to use some value from the webhook? for instance use the `head id`?

like

[code]

[2022-03-09 17:42] shareefj opened #6450 "Bug in changes/filter.py when branch=None"
I've been trying to setup a change filter that will filter out only tags but have hit an issue that looks like a bug to me.  However, if you have any pointers as to how I should be processing tags, that would also be helpful.

I've got the following change filter:

[code]

and my only_tags function is:

[code]

The documentation states that if the `branch` field of a change filter is set to `None`

[2022-03-11 13:35] Try2Code commented on #3010
I had the same issue with the GitlabStatusPush like https://github.com/buildbot/buildbot/blob/414312bf410e232d239c9e9b0cfe0eb0042c58ee/master/docs/examples/gitlab.cfg#L254

the additional 'name' key solved it. but the key is not documented.

[2022-03-11 15:52] doberkofler opened #6451 "Error when trying to send email using gmail"
I am trying to the `buildbot/buildbot-master:latest` docker image for my CI environment als it works like a charm except when trying to send emails.

I use the following email configuration:

[code]

and get the following error message:

[code]

Any help is appreciated.

[2022-03-12 20:24] p12tic commented on #6448
@floriandorre What length of the step name field are you using in your database? It may make sense to just bump the field length used in Buildbot so that you wouldn't need this customization.

[2022-03-12 20:39] floriandorre commented on #6448
We use 256 as a safe value but I would reckon that putting such a value in the configuration/env would not be a bad idea

[2022-03-12 21:55] p12tic commented on #6448
Having the value in the configuration is hard because we would need to perform a proper DB migration every time this is changed.

It is much easier just to require 256 for all Buildbot installations. This would waste a minuscule amount of space.

[2022-03-12 21:57] p12tic commented on #6449
Would `github_property_whitelist` webhook setting be enough for you?

See https://docs.buildbot.net/current/manual/configuration/wwwhooks.html.

[2022-03-12 22:06] floriandorre commented on #6448
Indeed, it makes more sense

[2022-03-13 11:25] p12tic commented on #6294
Seems that the issue has been fixed. Closing.

[2022-03-13 11:25] #6294 closed

[2022-03-14 07:56] doberkofler commented on #6451
@p12tic I just wanted to also mention that I've already tried the following workaround (described in another SR) and it did not help:

[code]

[2022-03-14 10:39] mojca opened #6455 "Exception "worker {} cannot attach""
A few days back one of the workers (which was experiencing some intermittent issues and seems to be ok since the reboot) stopped processing build jobs. It appears to be online, but it refuses to do anything.

I don't see anything weird on the buildbot worker (all the logs look fine) which is running buildbot worken 3.4.0 using Python 3.10 under macOS 11 / arm64.

The master is running buildbot 3.3

[2022-03-14 13:01] mojca commented on #6455
Indeed.

I disconnected / disabled the worker in question and it still appears as if it was connected on the master. I restarted the master as well, but it doesn't seem to help in any way (while all other workers still appear offline, the one in question is immediately green).

No, I don't have two workers with the same name.

It looks as if the buildbot master in fact ends up believing that the w

[2022-03-14 15:44] mojca commented on #6455
On the worker that's trying to connect to the server I'm getting
[code]

[2022-03-14 15:45] tardyp commented on #6455
The connected_worker table does not get cleaned at master shutdown, so it is possible that the UI state remains "connected".
only configured_worker gets cleaned in https://github.com/buildbot/buildbot/blob/master/master/buildbot/data/workers.py#L195

This is not a big deal as this is just a UI state.

But self.conn can only be updated in BaseWorker.attached(), so restarting the master must reset i

[2022-03-16 10:29] shareefj opened #6457 "Why do some build steps require you to explicitly define the worker build directory?"
Hi,

I've been setting up a flow where I want to push some build artefacts back to the repo after a job.  However, it looks like the `GitCommit` and `GitPush` (and possibly others that I haven't looked at) don't follow the same behaviour as other build steps in terms of the default working directory.

For example, assuming I haven't changed the default `BuildConfig#workerbuilddir` or `BuildFactory

[2022-03-18 13:03] YngveNPettersen opened #6461 "Cannot specify timeout for steps.RemoveDirectory"
Recently our steps.RemoveDirectory step for one of our builders started throwing Exceptions.

The reason seems to be that after a recent Chromium update, the Official Mac arm64 out directory has grown significantly, causing the delete operation to take longer than 2 minutes, and killing the worker-side command apparently fails. The remove dir operation apparently completes eventually, and restarti

[2022-03-19 15:59] lihanglin commented on #6449
I have similar question.
How do I get the property sent from WebHook in master.cfg?
I want to do something based on the contents which sent from webhook.
For example,
The pull request numbers would be available in the payload sent from webhook

[2022-03-28 09:35] Try2Code opened #6463 "discord server for user-community?"
hi!
I miss a place to share experience and configs with other users. Maybe there is a critical mass of buildbot users to do so and it would reduce the amount of issues which in fact are support requests. Not all examples will make it into the official documentation, but still users can benefit from them.

On the other hand I don't want to do something, which distract how the developers want to int

[2022-03-28 12:31] Try2Code opened #6464 "Codebased for multi-repo projects"
hi everyone!
I am running buildbot for a project, that uses a main repository and several forks each of them for a certain group of developers. The merging between the forkes and the main is done by a group of gatekeepers.

The buildbot server should run with all of the repos and since these repos are all published via our central gitlab server, I integrated buildbot with a webhook reacting to mer

[2022-03-29 10:41] Try2Code commented on #6464
![image](https://user-images.githubusercontent.com/681390/160593886-7cd85f90-e7d7-4d55-a4e0-01f6f8ca142d.png)

I get a lot of these entries in the 'Console View' and the 'Grid View' is empty although I did hundreds of builds already.

[2022-04-02 09:51] vit9696 commented on #3088
Hello, we had such a change implemented for a legacy buildbot a while ago, which I have just forwardported in https://github.com/vit9696/buildbot/commit/7caeaef3b514b7551c4fc917397db04d24c69498 and am currently testing. @tardyp would you be interested in merging it upstream?

[2022-04-03 12:07] r7l opened #6475 "HashiCorpVaultKvSecretProvider no longer works after updating to Vault 1.10"
After updating Vault to 1.10, i am no longer able to connect to it from Buildbot. The exception, returned from hvac has changed and Buildbot will just throw an error:

[code]

I am able to connect with a custom script using hvac and i am also able to connect to it with a custom Buildstep also using hvac. The issue here is that with Vault 1.9 and below, hvac throws: `hvac.exceptions.InvalidRequest`

[2022-04-03 12:11] r7l commented on #6463
There is an IRC channel called #buildbot at [Libera](https://libera.chat).

[2022-04-03 12:32] r7l commented on #6464
It is possible to run a single Buildbot instance for multiple repos and projects. I have such a setup but i am not using Gitlab but instead i am using Gitea, which needs an additional external extension. But the setup should be similar in your case but even so, there are multiple ways to complish what you need.

In my case, i have the list of repos in my config and create a builder for each repo.

[2022-04-04 07:28] Try2Code commented on #6464
hi @r7l ! I have a main repo and 6 forks where ppl develop things; 25 builders (different combinations of systems, compilers, build-options), which can build from each of them.  As long as changes come in with change sets from gitlab, everything seems to be fine. I use this in each builder

[code]
and the schedulers start these builders on all repos. The force scheduler takes the values of the cor

[2022-04-04 08:02] Try2Code commented on #6463
thx @r7l - wasnt aware of that. never really got into IRC :man_shrugging: but I will check it out

@floriandorre @jmbeuken if you prefer descord, lets talk there: https://discord.gg/G8kqP8uP

[2022-04-04 09:24] Try2Code commented on #6464
I switched back to `schedulers.Nightly`:
[code]

This seems to work correctly.

[2022-04-05 16:22] rvanlaar opened #6478 "SQLite database lock when running buildbot create-master with pypy"
[code]

**Steps to reproduce:**
- install poetry: https://python-poetry.org/docs/
- Download latest 3.8 pypy: https://www.pypy.org/download.html
- mkdir tmp && cd tmp
- put the pyproject.toml file in the in new tmp directory
- poetry env use /path/to/pypy/bin/python3
- poetry install
- poetry run buildbot create-master master
ERROR

Ubuntu 21.04
pypy3.8-v7.3.6

It does work when using the system p

[2022-04-05 20:07] rvanlaar opened #6479 "ErrorCountingShellCommand"
Hi,

For ScummVM we want to be able to 'error' a test based on certain output.
I've added an errorCount and errorPattern.

If this is a feature that Buildbot would like to add then let's discuss how we can include it.

[code]

[2022-04-08 08:10] Try2Code commented on #6464
I was too quick with my judgement: builds from last knight use a totally different repo/branch combo :shrug:

[2022-04-08 08:39] Try2Code commented on #6464
I added a change_filter to the same repository+branch. now the repository in the nightly build is correct but the branch is still wrong. I also added a more recent change to another repo (which is also tracked by GitPoller()), but this repo/change is ignored. current config:

[code]

[2022-04-08 20:09] shareefj opened #6482 "steps.Git mode='incremental' removes all unstaged files"
I've been trying to get the Git step to update my branch to master in order to commit some build artefacts but it looks like the mode is ignored.

 On line 141 https://github.com/buildbot/buildbot/blob/master/master/buildbot/steps/source/git.py#L141 the relevant method is called depending on the `mode` that has been passed into the step.  In my case I'm using `mode='incremental'`.

On line 177 htt

[2022-04-08 20:54] shareefj commented on #6482
This seems to fix it:

[code]

[2022-04-11 19:02] vit9696 opened #6486 "Nested triggers not executing builds but marking them success"
We execute steps.Trigger with multiple builders within builds executed by other step.Triggers. For some reason certain builds may not run at all, yet for some reason they become green before even triggering any steps.

On the following photo one can see one correctly executed `level 3, step 2 - test-trigger4-asan` and one incorrectly executed `level 3, step 2 - test-trigger4-asan` despite both bei

[2022-04-17 14:15] mattip opened #6488 "After `pip install buildbot`, the status directory is missing"
This is weird. I see the master/status directory in the git repo, but not in the files on [PyPI](https://pypi.org/project/buildbot/#files). Is that intentional?

[2022-04-17 14:18] mattip commented on #6488
[2.10.5](https://pypi.org/project/buildbot/2.10.5/#files) has the directory, in [3.0.0](https://pypi.org/project/buildbot/3.0.0/#files) it is gone.

[2022-04-17 15:28] mattip commented on #6488
Maybe this is on purpose, I am trying to update the PyPy buildbot which ran 0.8.8 and used status.web.base.HtmlResource, which seems to have been deprecated in 0.9.0 ohhh soooo looong ago.

[2022-04-17 15:33] mattip commented on #6488
OK, it seems migrating the [summary.html](https://buildbot.pypy.org/summary) custom page for PyPy, whose source is https://foss.heptapod.net/pypy/buildbot/-/blob/branch/default/bot2/pypybuildbot/summary.py, is a non-trivial task: pretty much everything changed. I might as well start over. Is there a resource I could visit about how to write a pytest-log-parsing status page like this?

[2022-04-18 13:40] tenta4 commented on #5267
Without packages versions your post makes no sense

[2022-04-18 15:11] tenta4 commented on #5943
This is because new Twisted 21.2.0+ required `hostname` argument in the ESMTPSenderFactory
So in buildbot 2.10.X I fixed it by next patch
`diff --git a/reporters/mail.py b/reporters/mail.py
index 54e9c88..79d2886 100644
--- a/reporters/mail.py
+++ b/reporters/mail.py
@@ -351,7 +351,7 @@ class MailNotifier(ReporterBase):
             unicode2bytes(self.smtpUser), unicode2bytes(self.smtpPassword),

[2022-04-19 20:33] SebDieBln commented on #5034
I also just ran into this problem. I am using builbot in a linux docker container on Windows, passing in the secrets via a bind mount. The default permissions for bind mounts on Windows are `0o777` so buildbot complains. But I have no other options. Putting the secrets in a normal docker volume might help, but then I can't edit them using my Windows tools. And changing the default permissions in a

[2022-04-20 20:39] tardyp commented on #6475
thanks for reporting this issue

looks good to me, would you like to send a PR for this suggestion?

you would have to revert 2c0fce7

[2022-04-22 06:10] muks commented on #5943
@p12tic Please can you take a look at the patch in the previous comment, and merge it if it appears correct?

[2022-04-23 22:10] code-review-doctor opened #6491 "Missing `f` prefix on f-strings"
Some strings looks like they're meant to be f-strings but are missing the `f` prefix meaning variable interpolation won't happen.

https://github.com/buildbot/buildbot/blob/25e4a5d12acebb90b5bf557c17ae8b5457a60199/master/buildbot/steps/source/gitlab.py#L35
https://github.com/buildbot/buildbot/blob/25e4a5d12acebb90b5bf557c17ae8b5457a60199/master/buildbot/steps/source/darcs.py#L60
https://github.com

[2022-04-25 17:09] p12tic commented on #6463
@Try2Code Seems that discord invite is no longer valid.

[2022-04-26 08:20] Try2Code commented on #6463
thx @p12tic  - its not longer limited

https://discord.gg/aFJHXQapeQ

[2022-04-30 20:52] #6491 closed

[2022-05-07 02:36] levitte opened #6504 "Unclear documentation for the Github status reporter"
The GitHubStatusPush documentation indicates that a Github OAuth App needs to be created.

Fine, I can do that, following https://docs.github.com/en/developers/apps/building-oauth-apps/creating-an-oauth-app

But, there's that mandatory field, "Authorization Callback URL"...  I have *no* idea what to fill in there.

Help?

[2022-05-07 05:15] yan12125 commented on #6504
For me a [personal access token](https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/creating-a-personal-access-token) also works fine with `GitHubStatusPush`. Documentation may be improved to mention that.

[2022-05-07 07:38] levitte commented on #6504
I've heard of that, and yeah, that works for status reporting on PRs. I was hoping to integrate master builds as well, the same way you can with github actions, and that would require having it as an actual github app (oauth or not), would it not?

Maybe I'm asking for too much...

[2022-05-07 08:25] yan12125 commented on #6504
FWIW, [my setup](https://gitlab.com/yan12125/buildbot/-/blob/master/master.cfg#L110) is primarily for reporting status to the master branch. This is how it looks like (sorry for a screenshot instead of a link - it's a private repo)

![圖片](https://user-images.githubusercontent.com/1937689/167245797-d6979b79-a845-4b73-bd35-645ffa62cf3e.png)

Those red crosses and green checks besides commits are qui

[2022-05-11 12:46] sj-foster opened #6506 "Triggered builds executed in the wrong order"
We have a builder that triggers other builders, but sometimes the triggered builds are happening in the wrong order.

E.g
Step A - trigger a number of builders, each builder only has 1 worker attached to it. waitForFinish=False
Step B - trigger a number of builders, each builder only has 1 worker attached to it.

Sometimes the workers will run the builds triggered from Step B before Step A

Step A

[2022-05-11 14:29] levitte commented on #6504
Oh *that's* where you find them!!!  I was expecting to see a "Checks" tab in https://<hostname>/<owner>/<repo>, it took me a moment to figure that I had to go to the commit list to see the build status markers...
That wasn't entirely obvious!  (yeah, looking at you, Github! :wink:)

All right, thanks for that hint, that was the last bit I needed to get a clear picture.

[2022-05-12 02:45] yan12125 commented on #6504
Yeah, seems there is no "Check" tab like PRs. Status in the commit list is not very good user interface IMO. Usually I use buildbot's grid view or console view to check status for each commit.

[2022-05-12 06:01] levitte commented on #6504
Yeah, same here...  but my users like to do things within github where possible.
Ah well, it's really just a matter of instructing them where to look, and it's really not that bad once you get the hang of it.

But, back to the issue at hand, it seems like having buildbot as an OAuth app has stopped working, 'cause github.
The documentation needs to be changed accordingly...

[2022-05-12 06:14] levitte opened #6507 "Github change hook injects a change record... then what?"
I've come so far with detecting PRs that there is indeed a visible change record

![foo](https://user-images.githubusercontent.com/698918/168003544-73832979-887d-477c-a7e1-5910a21abee4.png)

However, no build is being scheduled.  I'm quite stumped as to why.

The scheduler that I imagined would catch looks like this:

[code]

For completeness, `workerdata` is a dict with entries like this:

[code]

[2022-05-12 09:13] levitte commented on #6507
This is what I see in `twisted.log` when the PR is submitted (or re-submitted with a simple close/open of the PR):

[code]

[2022-05-12 09:17] levitte commented on #6507
I forgot to say, this is the normal buildbot as off Ubuntu 20.04, which is package version 2.6.0-1

[2022-05-12 11:32] kapil-git1087 commented on #6451
Getting error "MailNotifier.checkConfig() got an unexpected keyword argument"  'mode'" when using "mode=('change','cancelled','failing','problem','warnings','exception')," in the email notifications

error while parsing config file:
Traceback (most recent call last):
  File "/usr/lib/python3.10/site-packages/twisted/internet/defer.py", line 191, in maybeDeferred
    result = f(*args, **kwargs)
  F

[2022-05-13 03:22] levitte commented on #6507
I decided to take a dive into the Data API to see if I could figure this out...  and well, I did figure out that the schedulers do kick in (among others the one I showed as an example):

[code]

[code]

The interesting bit here is that the buildrequests were completed very fast, and with the result 3, [which means](http://docs.buildbot.net/2.6.0/developer/results.html#build-result-codes) SKIPPED

[2022-05-13 10:27] p12tic commented on #6488
@mattip There is an simple example here: http://docs.buildbot.net/3.5.0/manual/customization.html?highlight=dashboard#writing-dashboards-with-flask-or-bottle.

[2022-05-13 10:30] p12tic commented on #6507
@levitte What happens if you set `c['collapseRequests'] = False` on your master config?

[2022-05-13 10:31] p12tic commented on #6507
Regardless of whether this is a misconfiguration or not we shouldn't silently discard build requests like this.

[2022-05-13 10:33] p12tic commented on #6506
@sj-foster It seems it works like expected - waitForFinish=False means that builds can be ordered in any order. As I understand, you need something like `wait_before_starting_other_triggered_builds=True` parameter. I think having such feature makes sense.

[2022-05-13 10:51] sj-foster commented on #6506
:+1: that sounds like a useful parameter to have in our case

[2022-05-13 10:52] mattip commented on #6488
I changed the title to reflect the real problem at hand. Thanks for the dashboard hint, I will try to explore it a bit.

[2022-05-17 11:26] levitte commented on #6507
That seems to have done the trick.

![foo](https://user-images.githubusercontent.com/698918/168798305-4fd20ba7-fd54-4ea4-bed3-087ad540152e.png)

But...  that seems like a scary change, 'cause that same change will cause separate builds to be run for *every* commit in *every branch* (I have another scheduler as well, for builds of any changes done on the master branch), right?

However, if I unders

[2022-05-17 12:27] levitte commented on #6507
Although...  I just tried removing `c['collapseRequests'] = False`, and builds are still being started on that PR as I push more commits to it.

So, er, something appears to have cleared up.

Come to think of it, I did at some point have another SingleBranch scheduler like this:

[code]

... for changes polled with GitPoller, and that change_source is configured like this:

[code]

I'm grasping fo

[2022-05-21 10:02] vit9696 commented on #6486
The issue is apparently caused by the default implementation of `collapseRequests`. This function does not compare properties and believes that the tasks are doing the same thing, and kills some of them. The following implementation of `collapseRequests` successfully resolves the issue:

[code]

Finding a workaround took us some time, with the primary reason for that being _no visual signature_ th

[2022-05-21 10:06] vit9696 commented on #3088
We ended implementing this feature with a custom trigger step without patching buildbot. Slightly simplified code in question looks as follows:

[code]

[2022-05-24 16:27] doberkofler commented on #5943
I have tried this workaround but was not successful.

[2022-05-24 16:30] doberkofler commented on #5267
I have tried this workaround but was not successful

[2022-05-30 06:16] levitte commented on #6507
I haven't heard anything else, so I'll assume that my conclusions are correct.  Closing.

[2022-05-30 06:16] #6507 closed

[2022-05-30 18:40] dol-sen opened #6524 "buildbot-worker: Missing test dep: parameterized"
Setup.py is missing the required test dep on parameterized.

buildbot_worker.test.unit.test_runprocess.TestWindowsKilling.test_sigterm
buildbot_worker.test.unit.test_runprocess.TestWindowsKilling.test_simple
buildbot_worker.test.unit.test_runprocess.TestWindowsKilling.test_with_child
buildbot_worker.test.unit.test_runprocess.TestWindowsKilling.test_with_child_parent_dies
==========================

[2022-06-08 17:21] minyang opened #6539 "buildbot.steps.source.git.Git fails with full mode + copy method"
When checking out git source tree with `full` mode and `copy` method, `buildbot.steps.source.git.Git` fails.

Buildbot master versions (I'm using docker):
[code]

`master.cfg` is configured as follows:
[code]

Run-time python error (`builtins.ValueError`):
[code]

Based on this trace, it appears `CopyDirectory` does not work when attempting to copy `source` directory to `build`.

[2022-06-15 00:28] hsadia538 commented on #4274
@tardyp  I want to work on this but would like some help here on setup

[2022-06-15 06:20] #4229 closed

[2022-06-15 06:53] tardyp commented on #4274
All documentation on developer setup is available here:
https://docs.buildbot.net/current/developer/quickstart.html

please tell what is your actual pain point so that we can help

[2022-06-28 08:19] rvanlaar commented on #3463
We encountered the same problem. The PB port happened to be open for the world. After these errors it won't pick up new builds.

[2022-07-01 01:01] hmoffatt commented on #5423
I just stumbled across this reading the mailing list archives. I have a nightly scheduler which uses the same builder as a forced scheduler; the repository/branch is specified by using a ChangeFilter with the project name, which matches the project name set on the GitPoller.

This is pretty much straight out of the manual https://docs.buildbot.net/3.5.0/manual/configuration/schedulers.html#nightly

[2022-07-06 07:33] levitte opened #6561 "buildbot workers suddenly not connecting (how to debug this?)"
After a long time of working perfectly, I suddenly have all workers dropped (red cross on the master page).

Looking at a worker twisted.log, I find this:

[code]

So it looks like it's trying to connect, and failing.

I've verified what I can think of.  Pinging the master hostname shows it's available, and a simple `telnet {master-hostname} {port}` does connect (the master hostname is taken from

[2022-07-06 08:32] IvanZosimov opened #6562 "Expired CA certificate on https://buildbot.pypy.org"
Hi, 👋! It looks like the CA certificate for https://buildbot.pypy.org has expired. Could you please take a look at that issue? We have some issues with CI because of that.

[2022-07-06 08:35] levitte commented on #6561
It turned out to be a TLS failure...  server cert had expired.

So, immediate problem resolved.  However, it would be nice it there was some more proper logging of such things, and not just a perpetual retry.

[2022-07-06 08:43] IvanZosimov commented on #6562
Just a ping @p12tic 💌

[2022-07-06 10:05] tardyp commented on #6562
This is not in a buildbot infra, but rather a pypy project infra.

Le mer. 6 juil. 2022, 10:43, Ivan ***@***.***> a écrit :

[2022-07-06 18:45] pmisik commented on #6562
@IvanZosimov tardyp is right and it looks like there is already bug in pypy https://foss.heptapod.net/pypy/pypy/-/issues/3773

You are incorrect in statement **CA certificate** has expired. CA stands for **C**ertificate **A**uthority in terms of Public Key Infrastructure (PKI). In this particular case [end-entity certificate](https://crt.sh/?id=6474597191) (for site `buildbot.pypy.org`) has expire

[2022-07-06 19:08] pmisik commented on #6561
We **_sometimes_** see such issue after we do `buildbot reconfig master`.
Unfortunately we did not find cause yet.

[2022-07-07 07:06] IvanZosimov commented on #6562
@tardyp, @pmisik, thanks for your comments and for correcting my mistake in the name of the certificate 🤟

[2022-07-07 07:06] #6562 closed

[2022-07-09 09:15] estan opened #6563 "Duplicate jobs on GitLab results in neverending pipeline"
Hi all,

Ever since we upgraded from 2.7.0 to 3.5.0 (big jump I know :p), we have this problem where we often unexpectly get what looks like duplicate GitLab jobs, or sometimes even duplicate GitLab pipelines, for a single Buildbot build request/build, where one of the two GitLab jobs are never marked as done.

I added `verbose=True` and `debug=True` to the construction of `GitLabStatusPush` in ou

[2022-07-09 09:49] estan commented on #6563
And to clarify: I think what Buildbot sends above seems reasonable - to me it seems this should manifest in GitLab as one single GitLab job transitioning from "pending" to "running" and finally "success", not multiple GitLab jobs, right?

It is possible that this is some GitLab issue, but it has persisted through several upgrades of GitLab (I think at least 15.0.0 -> 15.1.0 -> 15.1.1 -> 15.1.2) an

[2022-07-09 11:07] estan commented on #6563
I've also verified on the GitLab side that it is receiving the statuses in the order "pending", "running" and "success":

[code]

I wonder if it is simply the different `target_url` that is triggering GitLab to make a separate job and not update the existing one?

[2022-07-09 13:20] estan commented on #6563
Also, I don't know what kind of guarantees GitLab gives on the commit status API. Perhaps there is a race within GitLab and Buildbot should wait for the 201 response to the "pending" status report, which I guess is when GitLab will have for sure created the job, before proceeding to send the "running" status report, to avoid the creation of two separate GitLab jobs..?

[2022-07-09 15:10] estan commented on #6563
I just found a GitLab issue and it indeed seems to be a race condition: https://gitlab.com/gitlab-org/gitlab/-/issues/13134

The issue is 2 years and, but since it seems this is happening much more frequently with recent GitLab versions, would you consider serializing the status reports for "pending" and "running" for a given Buildbot build request/build on the Buildbot side as a workaround? I.e.

[2022-07-09 18:42] g-arjones commented on #6563
Yeah, I think you nailed it. We could either skip the "pending" status if there are workers available to start the build right away or, as you suggested, wait for the previously pushed status to be acknowledged before sending the next one. Unfortunately, I'm not sure how or even if that's feasible on buildbot. Hopefully, @tardyp @p12tic will have some ideas.

[2022-07-09 20:26] estan commented on #6563
Hm, if `GitLabStatusPush` was given a new `self.last_status : Dict[str, Deferred]` to hold the deferred corresponding to the last status report sent for a given commit, and its `sendMessage(...)` modified to:

1. Peek in `self.last_status` if there's a saved deferred for the commit, and if so, pop it and yield on it.
2. Call `createStatus(...)`, save the returned deferred in `self.last_status`, th

[2022-07-10 09:00] estan commented on #6563
Something like:

[code]

I've been testing this approach on our instance today and it seems to work. Let me know if you want a PR with this @p12tic @tardyp @g-arjones.

[2022-07-10 09:51] estan commented on #6563
Meh nevermind, that probably won't work reliably since `sendMessage` yields to other things, before yielding to `createMessage`.

[2022-07-10 11:21] estan commented on #6563
Thinking about it, isn't there a more fundamental problem in how `ReporterBase` works: Since (AFAICS) there is nothing in place to ensure statuses are sent out in the order in which the corresponding events arrive on the master queue, "pending" could theoretically be sent after "running", which I believe would give a 400 error from GitLab (?)

[2022-07-10 13:26] estan commented on #6563
So maybe instead something like

[code]

to make sure that messages are sent and confirmed in the order in which the corresponding events arrived?

[2022-07-19 15:32] estan commented on #6563
If the approach above is OK I can make a PR. Let me know if I should create one straight away and move discussion there. Could probably use some scrutiny to make sure I haven't made some thinko.. Also since this changes the behavior of the base class it has implications for all derived reporters, not just the GitLab one.

[2022-07-19 15:36] g-arjones commented on #6563
I'm just a fellow contributor so I really don't know. I was just wondering if that patch fixed the issue for you

[2022-07-19 15:41] estan commented on #6563
Alright, I'll wait a bit and see if @tardyp has any input. I believe the patch has fixed the issue for us. We are running with it know and I've tried multiple pushes and confirmed that in every case I tried, request/response pairs were awaited in the order of the corresponding events arriving on the master event queue (so the GitLab internal race condition is never hit). Many of us at the office a

[2022-07-21 13:26] g-arjones commented on #6563
/cc @p12tic

[2022-07-22 10:42] MFTabriz opened #6576 "skip gitlab ci jobs with `[skip ci]` message"
[Gitlab itself supports](https://docs.gitlab.com/15.0/ee/ci/pipelines/#skip-a-pipeline) skipping the CI jobs for the commits with `[ci skip]` or `[skip ci]` in their message. Is it possible to support a similar functionality in buildbot?

[2022-07-22 13:31] tardyp commented on #6576
this should be supported via change filters
http://docs.buildbot.net/current/manual/configuration/schedulers.html#change-filters

probably via a custom filter_fn maybe you will need to export the commit subjet in the gitlab event hook as a change property.

[2022-07-25 19:35] MFTabriz commented on #6576
@tardyp Thanks for your quick response. Is there any plan to add this feature (similar to #3443 but for GitLab) to the buildbot?

[2022-07-26 10:31] cryptable commented on #5943
This workaround by adding the hostname to the ESMTPSenderFactory solved my problem sending mails through gmail. Can this be integrated or shall I ask for a pull request?

[2022-07-27 09:43] tenta4 commented on #5943
Created PR https://github.com/buildbot/buildbot/pull/6579

[2022-07-27 09:49] muks commented on #5943
Please don't resolve this ticket after merging PR #6579 as it does not fix the problem for the reporter of this ticket, and others on this ticket. What PR #6579 fixes may in fact be a different bug that has similar symptoms.

The third comment on this ticket describes what occurs for this bug, that PR #6579 is unlikely to solve (from its diff).

[2022-07-27 10:08] muks commented on #5943
Perhaps an `msmtpd` daemon, running on the same host as the Buildbot master, acting as a proxy to the real SMTP submission service, would offer a workaround for the bug.

[2022-07-27 12:33] cryptable commented on #5943
I use buildbot master on Linux (ubuntu 22.04) and use Ansible now to patch the ESMTPSenderFactory. It would be nice I don't have to patch that file when installing builldbot. Any advise would be welcome if alternative is possible.

[2022-07-29 18:45] tardyp commented on #5943
@muks could you please try upgrading twisted and apply #6579.
it appears to me that the original issue is actually a Twisted issue.

[2022-08-02 08:29] ChungChyi opened #6585 "support web-based configuration"
I want to implement configuration via webUI.
Such as modifying the builder's configuration, setting its scheduler, workers, etc.
Where should I start to achieve this.

[2022-08-02 09:03] tardyp commented on #6585
As buildbot itself is very configurable, and made to be configured programatically, it will be a huge work to implement UI that allows to configure all the components.

So what can be made is higher level abstraction of the workflow you want to implement and then add a UI to configure that.

This is a bit what is implemented in buildbot travis:
https://github.com/buildbot/buildbot_travis

this cou

[2022-08-02 09:34] Swansky commented on #6451
Hello, I still have the same problem. It concerns gmail and outlook. It is more annoying that no fix is proposed.

[2022-08-02 11:08] ChungChyi commented on #6585
@tardyp Thanks for your quick response. I currently just want to be able to configure the builder on the web UI, such as delete, add and modify. I really don't know how to connect web UI and master config. thanks for telling me about buildbot travis.

[2022-08-02 13:30] tardyp commented on #6585
What kind of builder configuration you want to allow the admin to setup?

A builder itself does not do much, you need to add steps, there are tons of steps available, each with very different available parameters, then you may want to add secrets, you need to allow admin to tell how to trigger the builder, is this a force build? is this based on new change? how you configure the change filter, etc

[2022-08-02 18:57] ChungChyi commented on #6585
@tardyp
Thanks for your answer.

I realized that the parameters involved in the configuration of a builder can be a lot, so it is not easy to implement such a UI. If I just want to add a minimal builder (whose schedulers is only based on new change or force build and whose build steps only include Source checkout steps and ShellCommand steps), this may reduce the workload. Or, I just want to remov

[2022-08-02 23:22] #6113 closed

[2022-08-03 07:47] tardyp commented on #6585
sounds good!
You have the wsgi-dashboards plugin, which allows to develop some simple UI in flask
https://docs.buildbot.net/latest/manual/customization.html#writing-dashboards-with-flask-or-bottle

However, It might not be super useful for this particular task as you cannot really make parametrised route

[2022-08-03 23:52] hmoffatt opened #6589 "secrets not removed from worker"
Secrets are not removed after the build, although the removal step is run. I am running master and worker 3.5.0.

My code is simply:

[code]

The secret file is created OK, but never removed.

At a glance, downloadFileContentToWorker considers the workdir but runRmFile does not?

[2022-08-04 10:06] ChungChyi commented on #6585
@tardyp
thank you~
I have read this part of the documentation before. They help me a lot!
I am trying to develop a simple UI. I don't understand the part of the documentation about update methods and POST with method (they are in the REST API Specification section of the documentation). Do they have some examples?
I added a form with a POST method to the rendered template. But this POST request is

[2022-08-04 12:56] hydrogencl opened #6590 "Configuration for connecting master via http"
Dears,
I would like to know how do we setup the worker from different machines?

Currently we want to apply the buildbot application for CI/CD to different machines (especially for super computers), and thus we already have a static IP/url to run the master. However when I start the worker from a machine, which can link to the web (master) with the port. Would you mind also provide a tutorial or i

[2022-08-04 13:58] hydrogencl commented on #6590
Just figure it out how to connect via http, the port should be setup as the same port of `protocals`. Sorry for posting a stupid question. But thanks for this great application!

[2022-08-04 13:59] #6590 closed

[2022-08-04 22:29] antonysigma opened #6591 "Gitpoller: command 'rev-parse' failed with 'unknown revision or path not in the working tree'"
Buildbot version: 3.4.0

I am getting this error when I was setting up the change_source to a private git repo:
[code]

What is puzzling is that when I `cd` into the `/var/buildbot/master/gitpoller-work` directory and run the exact same command `git rev-parse refs/buildbot/%2Fvar%2Fbuildbot%2Fabc/my_branch` every ~3 seconds. Sometimes it prints the SHA on the stdout, sometimes return `unknown revi

[2022-08-08 18:25] ChungChyi opened #6593 "How to make buildbot load configuration dynamically?"
After executing buildbot start, the master loads the configuration from master.cfg. If some key values in the BuildmasterConfig are modified after the buildbot runs, how can the buildbot dynamically load the modified BuildmasterConfig?

[2022-08-08 19:30] openSourceBugs commented on #3535
Wow.  5 year old issue and this is still happening for me.  I probably can't use buildbot at this point.  I'm not even on section 1.2.3 of the tutorial and open source quality rears its head.

[2022-08-08 19:43] openSourceBugs commented on #4519
I also see this.  Sad that there are so many open bugs that are years old in this project.  I will have to abandon efforts to use this software as it is unuseable.

[2022-08-09 07:46] p12tic commented on #3535
@openSourceBugs Which version are you using. The reliability of `buildbot stop` has been quite improved around version 2.10.2 / 3.0 released 1.5 years ago.

[2022-08-09 07:54] p12tic commented on #4519
This is more like documentation issue and command output being not helpful to understand what it's doing. It is expected that `buildbot restart` waits for builds to finish.

[2022-08-09 08:35] p12tic commented on #3809
Seems like this issue can be closed, as most recent Buildbot is in Debian. We can open new issues for any new problems that arise.

[2022-08-09 08:35] #3809 closed

[2022-08-09 09:43] p12tic commented on #3626
Closing because we haven't seen this bug to repeat and there's not enough information in the bug report to reproduce it.

[2022-08-09 21:27] openSourceBugs commented on #3535
This was on what I pip installed yesterday from the tutorial docs.  There was a "waiting for build to stop" status that never went away for 30 minutes after attempting to stop a failed build.  Me stopping the build arose because the tutorial and the code it is using are obsolete (using git:// instead of https) and hasn't been updated for 5 years at least.  There was a timeout when running the tuto

[2022-08-10 12:28] mokibit commented on #4519
@openSourceBugs could you please provide the build logs and information about your operating system? I can not reproduce this bug. `buildbot restart` kills a process started by worker using signal 9 so it should stop your builds as well.

[2022-08-10 14:55] p12tic commented on #6593
@ChungChyi Check out https://github.com/buildbot/buildbot_travis. This is what buildbot.buildbot.net uses under the hood which is configurable via https://github.com/buildbot/buildbot/blob/master/.bbtravis.yml.

Configuration is here: https://github.com/buildbot/metabbotcfg.

[2022-08-11 06:28] #4163 closed

[2022-08-11 20:35] aj062 commented on #3535
Interesting. It would be nice if https://github.com/buildbot/buildbot/issues/6029 can also be fixed.

[2022-08-12 14:07] mokibit commented on #4519
On Windous and Linux OS I could not reproduce this bug. I used version buildbot-3.5.0 and current master branch on both OS.
Since we can not reproduce this bug, there is not much we can do until we get more information.

@p12tic I think we can close this bug for now. If someone experiences this bug and can provide information they can reopen this bug.

[2022-08-16 03:04] ChungChyi commented on #6593
@p12tic Thank you for your answer. Is it possible to do dynamic reconfig on windows system?
My idea is this, I wrote a front-end page that receives configuration information, and on the back-end, I don't know how to make the buildbot reload the configuration based on a dictionary of configurations or a BuildMaster instance.

[2022-08-17 23:01] g-arjones commented on #6563
@estan I've been using your patch for a while as well and haven't found any issues. Would you consider submitting a PR? Hopefully, the maintainers will have a look since the project seems to still be maintained despite the silence in this thread.

[2022-08-18 09:17] ChungChyi opened #6602 "Reconfig command supported on Windows"
I try to make the reconfig command available on windows.
SIGHUP is not available on windows, so I modified SIGHUP to other signals like SIGINT.
Likewise, the tail command is not available under Windows. So I downloaded a tail.exe, which made the tail command available under Windows.
I made the following modifications:
1. Modify the tailBin in buildbot\scripts\logwatcher.py to the path of tail.exe.

[2022-08-18 12:20] estan commented on #6563
@g-arjones Thanks for the ping and for testing => https://github.com/buildbot/buildbot/pull/6603

[2022-08-18 12:30] p12tic commented on #4235
I think that the feature by itself still makes sense and there is even a stale PR for it. Thus there is no need to close the GitHub issue.

[2022-08-18 21:14] p12tic opened #6604 "Incorrect generated documentation of Worker REST API"
The file for Worker REST API (master/buildbot/spec/types/worker.raml) specifies `configured_on` and `connected_to` members of the Worker resource as follows:

[code]

However, the generated documentation (https://docs.buildbot.net/3.5.0/developer/raml/worker.html) completely omits the information in the `properties` keys.

[2022-08-19 15:24] p12tic commented on #6593
I'm afraid the reconfig part is not implemented on Windows. However, if you use https://github.com/buildbot/buildbot_travis you don't actually need to reconfig because it updates its configuration automatically from a file in repository.

[2022-08-21 22:13] #6563 closed

[2022-08-22 07:12] JohannesKauffmann commented on #6175
Hi, did you ever find a way to resolve this, or a possible workaround? I'm experiencing similar errors during worker instantiation:

[code]

The error message is telling me that "The password for this account has expired", which is strange; I've verified that all used credentials are still valid.

Happy to provide more details if needed.

[2022-08-24 09:16] kiinoda opened #6606 "BitBucket hook fails"
I have set up a BitBucket hook and, upon triggering the hook, Buildbot  fails with the error below:

[code]

Further investigation indicated that the actual API at BitBucket has changed. I managed to fix it on my local installation and would like to submit a patch. Here's the BitBucket API docs - https://atlassian.com/bitbucket-cloud/docs/event-payloads/#Push

The patch I want to submit is below.

[2022-08-24 15:25] p12tic commented on #6606
Hi, thanks for the bug report.

Could it be that you need to use `bitbucketcloud` hook instead of the `bitbucket` hook?

[2022-08-24 18:29] mokibit commented on #3535
For the record, the issue with using obsolete code in tutorial was recently fixed: https://github.com/buildbot/buildbot/pull/6599.

[2022-08-25 09:39] kwk opened #6607 "Fittering builds of a builder by started_at doesn't work: invalid filter value for started_at__gt"
I want to continuously fetch build information from the LLVM buildbot server but I cannot [filter](https://docs.buildbot.net/current/developer/rest.html#filtering) by the `started_at` attribute.

What I'm doing:

[code]

The error I get:

[code]

It seems that #5529 was also discussing this and there was a commit that claims to fix this issue but I don't know if

a) the commit is in the version de

[2022-08-25 14:36] p12tic commented on #6607
@kwk Thanks for bug report. I tried querying buildbot.buildbot.net using `curl -sL https://buildbot.buildbot.net/api/v2/builders/1/builds?started_at__gt=1604843464` and it seems to work. buildbot.buildbot.net runs the current master branch, so the bug seems to be fixed.

[2022-08-25 14:38] #6607 closed

[2022-08-25 14:40] p12tic opened #6609 "minimal_install tests fail due to urllib3.contrib.pyopenssl being deprecated"
This build https://buildbot.buildbot.net/#/builders/90/builds/1242 fails with the following error:

[code]

We need to check why this started failing now as all dependencies of tests are frozen into requirements-ci.txt files, so perhaps not all dependencies are captured.

[2022-08-25 18:11] p12tic opened #6614 "towncrier does not generate release notes properly anymore"
New version of towncrier broke the release notes of Buildbot as the version title in the release document is not added anymore. I had to add the following manually last time:

[code]

[2022-08-25 18:14] #6609 closed

[2022-08-26 13:26] emil-simeonov opened #6619 "How to customize the force build form web UI"
Dear team,

Thank you for the hard work on this outstanding project empowering so many of us!

I need to add some fields for user input and remove some of the existing fields on the form for forcing new builds in the web UI (refer to the attached image). I failed to find any useful guidance in documentation, forums, Github issues, etc. Perhaps only [this project](https://github.com/buildbot/buildb

[2022-08-26 15:12] emil-simeonov commented on #6619
This is actually described in the documentation related to schedulers.

https://docs.buildbot.net/latest/manual/configuration/schedulers.html?highlight=textparameter#forcescheduler-scheduler

Closing the issue as it's answered.

[2022-08-26 15:12] #6619 closed

[2022-08-26 15:25] mokibit commented on #3535
This issue was fixed in #6620.

[2022-08-26 22:23] #3535 closed

[2022-08-26 22:26] p12tic commented on #6606
@kiinoda just a friendly ping.. :-)

[2022-08-26 23:40] p12tic commented on #3695
BuilderStatus and similar classes have been removed at around Buildbot v3.0 release.

[2022-08-26 23:40] #3695 closed

[2022-08-29 00:25] kiinoda commented on #6606
I'll take a look and report back.

[2022-08-29 05:52] doberkofler commented on #5943
@tardyp Still not able to send email via gmail from buildbot master **3.6.0** running in docker container!

Python version: 3.9.2
Buildbot version: 3.6.0
Twisted version: 22.4.0

[code]

[code]

[2022-08-29 05:53] doberkofler commented on #6451
@tardyp Still not able to send email via gmail from buildbot master **3.6.0** running in docker container!

Python version: 3.9.2
Buildbot version: 3.6.0
Twisted version: 22.4.0

[code]

[code]

[2022-08-29 11:19] kiinoda commented on #6606
@p12tic You're correct, that was the proper course of action. On the bright side, I now have a better understanding on Buildbot. :)

[2022-08-29 11:19] #6606 closed

[2022-08-29 21:27] #4263 closed

[2022-09-02 11:31] schanzen commented on #6539
I can confirm this is happening to us as well after an update to 3.6.0

[2022-09-02 11:40] schanzen commented on #6539
This is the offending commit: https://github.com/buildbot/buildbot/commit/9deed41fe7655f69b1d5d139baa15e633019ca15
It the arguments have not been changed in the cms logic, e.g. https://github.com/buildbot/buildbot/blob/master/master/buildbot/steps/source/git.py#L251

[2022-09-03 01:39] randarnold commented on #6539
For anybody else that runs into this and attempts to go back to 3.5

I attempted to uninstall and then buildbot 3.5 with mixed success.

My buildbot is now building again, however while the worker is at 3.5, the master is still at 3.6

pip uninstall buildbot
Found existing installation: buildbot 3.6.0
Uninstalling buildbot-3.6.0:
...
Successfully uninstalled buildbot-3.6.0

pip install -Iv buildbo

[2022-09-03 02:02] p12tic commented on #6539
@randarnold @minyang Thanks for bug report. The issue should be fixed in https://github.com/buildbot/buildbot/issues/6539.

[2022-09-03 02:29] #6539 closed

[2022-09-05 21:32] richb-hanover opened #6623 "Newbie question: Are there docs for what am I seeing in the web interface?"
Hi folks, I'm a total newbie to buildbot. But it's doing great things for OpenWrt - which I care about.

I see the display at https://buildbot.openwrt.org that shows a lot of furious activity. I know there's a lot of stuff going on behind the scene, with a really rich display, but I don't understand what I'm seeing.

I skimmed the docs for buildbot, but I didn't find anything that described what t

[2022-09-07 17:56] fche opened #6624 "RFE: option for email summary reporting on multi-builder scheduler"
It's not unusual for a Scheduler to trigger builds on a whole bunch of individual builders (different architectures or whatever) from the same ChangeFilter event.  While relevant users can receive an email summary from each of those builders, there appears to be no way of sending them a single report of all the builds.  They can't even know whether all the builders finished, so they can tell when

[2022-09-08 11:12] levitte opened #6625 "reporters.GitHubStatusPush doesn't report cancelled build requests to Github"
I cancelled a few PR related build requests, and noticed that the Pending build status in the PR on Github doesn't go away.
Is there a way to fix that?

[2022-09-08 12:23] levitte commented on #6625
Buildbot data:

Python version: 3.10.4
Buildbot version: 3.4.0-1build1
Twisted version: 22.1.0

[2022-09-09 12:04] rossburton opened #6626 "HTML source doesn't contain accurate <title>"
The generated HTML source contains a stub `<title>` tag, from `layout.jade`:
[code]
In a browser, the title is rewritten at runtime with Javascript to reflect the page being displayed.  However, if the page is fetched using an environment which doesn't execute JS (for example, software which fetches a URL you enter to display the title instead of the bare URL) the title is always just _Buildbot_.

[2022-09-12 08:39] jtjbrady opened #6631 "DirectoryUpload fails after 5 minutes on multimaster"
If the DirectoryUpload stage takes more than 5 minutes then the build is "Cancelled".  The upload actually completes, including the two MasterShellCommand stages I have after the upload, but the master then proceeds to sit there unable to start builds until restarted.

The upload itself consists of the build artifacts, approximately 1.4G of rpms.

[code]

Whilst waiting for the remaining stages to

[2022-09-13 15:08] vibbo opened #6632 "Buildbot 3.6 introduced incomplete logs from remote commands"
Failed assert message `assert not self.finished` started to appear in Buildbot logs after upgrade to version 3.6. This is the offending line of code: https://github.com/buildbot/buildbot/blob/aa20eeb8c40d04b40501b19c62c52ee333d44c18/master/buildbot/process/log.py#L80

It seems that [recent changes](https://github.com/buildbot/buildbot/commit/5f0234cdb46fab86c9d8eebdc4ed23fa21b918f6#diff-b7636dfe50

[2022-09-15 13:55] markus-sus opened #6633 "builtins.AttributeError: instead of intended log message"
Hello,

Because I had set up an incorrect url, or an url that was not possible to access due to limited api token access I got this error message:
[code]

However, looking at the code the error should probably be something more like:
[code]

Is the attribute error the intended behaviour? If not then I guess I would do some kind of patch for it (i.e. checking for existing url attribute).

[2022-09-15 13:59] markus-sus commented on #6633
Hmm. I am going to assume this is not the intended behaviour because the returned error message and code made a whole lot of sense in my case.

[2022-09-16 08:16] bilderbuchi commented on #4684
We have a similar use case, but could not figure out how to achieve this:
* "admins" role is allowed to do anything
* "external" role is only allowed to see a whitelisted builder, nothing else
    - this is the main thing we want to achieve
    - stretch goal: control for these builders for the external role
* "internal" role is allowed to see everything (if this is difficult, we can bump these to

[2022-09-16 13:25] hraphrap opened #6634 "Setting up buildbot authorization to restrict access to builders in web ui"
I have some configs, that restricts access to actions like "Rebuild", "Force schedulers" to anyone who are not in group "group1"
[code]

But all users signed up in gitlab can see all builders in https://buildbot.example.com/#/builders anyway. Is there a way to limit the visibility of builders to users based on the groups (mached to roles) they belong to?

[2022-09-19 15:07] mokibit commented on #6632
@vibbo, unfortunately I could not reproduce this bug on my system.
Could you please confirm, that PR https://github.com/buildbot/buildbot/pull/6636 fixes your issue?

[2022-09-20 16:42] vibbo commented on #6632
I have patched my Buildbot and the issue seem to be resolved. Thanks.

You should be able to reproduce using log file with `closeWhenFinished=True` https://github.com/buildbot/buildbot/blob/master/master/buildbot/process/remotecommand.py#L132

[2022-09-20 22:45] romankln opened #6638 "triggerable step with docker latent worker"
Python version: 3.10.4
Buildbot version: 3.5.0
Twisted version: 22.4.0

In my buildbot setup I have added Docker Latent worker with custom docker image.

[code]

All is working as expected except for the triggerable step which is in use to call the builder on this worker, sometimes the step returns success without actually running the triggered build. The main build is waiting for some time (20-40

[2022-09-21 01:18] romankln commented on #6638
In an attempt to find a solution and following the issue https://github.com/buildbot/buildbot/issues/6486 I have added the following code
[code]
I have not seen a build returning success without actually running but at some point the following error appeared
`Traceback (most recent call last):
  File "/home/buildmaster/bb-master3/buildbot_venv/lib/python3.10/site-packages/twisted/internet/defer.py

[2022-09-21 20:48] romankln commented on #6638
Changing collapseRequests made the trick and now I am not getting builds become green before even triggering any steps.
[code]

[2022-09-22 08:05] vx-i commented on #5790
@p12tic Any updates on this topic? Is it possible to create a variable outside of ldap connector and to assign a secret string to it. Afterwards just use this string variable in ldap connector.

[2022-09-23 15:18] #6633 closed

[2022-09-26 17:31] pmisik commented on #6632
@p12tic  I think this issue can be closed as PR is merged and @vibbo confirmed issue has been resolved.

[2022-09-26 19:07] #6632 closed

[2022-09-27 19:45] mrmammadov commented on #4328
Hi @tardyp
This issue is still open. Can I take it over? I wonder if there is a Jira Board to avoid the duplicate work?

[2022-09-28 14:08] tardyp commented on #4328
@mrmammadov I assigned this bug to you. you can safely work on it :)

[2022-10-06 15:43] trolzen commented on #3427
@p12tic Looks like this issue was fixed by PR #5557. Shouldn't it be closed as resolved?

[2022-10-11 13:28] gzzi opened #6650 "build progress"
On my factory I have set useProgress to True but I do not see any progress information on build. This feature is documented in the doc here:
https://github.com/buildbot/buildbot/blob/master/master/docs/manual/configuration/buildfactories.rst#attributes

On the code this function seem to do nothing:
https://github.com/buildbot/buildbot/blob/master/master/buildbot/process/buildstep.py#L348

It has b

[2022-10-17 17:22] jwdevel opened #6652 "mailing list signup broken?"
Slightly off-topic, but I think the mailing list sign-up for BuildBot is broken.
Perhaps someone who sees this can investigate?

I tried signing up for `users` and `devel`[1], a day ago and never got any reply.
I also tried sending a "subscribe" mail to the list directly, also with no reply.

Not sure if the list is moderated and needs manual approval or something -- maybe I just need to wait.
But

[2022-10-18 12:21] tysonite opened #6653 "Enhance /workers REST API to return worker's properties"
It would be nice to extend [/workers REST API](http://docs.buildbot.net/current/developer/raml/worker.html#) calls to return properties set to worker(s) via `properties` argument when defining a worker. This will make integration with external systems easier.

E.g. (JSON output):

GET Request: http://<buildmaster>/api/v2/workers/<worker>
Response:

[code]

[2022-10-20 18:19] jwdevel commented on #6652
FYI: I tried this again today, and still seems broken.

[2022-10-21 18:24] bgr opened #6655 "Double "Set-Cookie" header in login response"
When I do the following:

    curl -v -u "USER:PASS" -X GET http://MY_BUILDBOT_URL/auth/login

in the response there are two "Set-Cookie" lines:

    ...
    < Set-Cookie: TWISTED_SESSION=VALUE; Path=/
    < Set-Cookie: TWISTED_SESSION=DIFFERENT_VALUE; Path=/
    ...

If I use the second one in the subsequent `curl` call, it works fine, but the first one causes `you need to have role 'admins'` err